@charset "UTF-8";
/*---------------------------------------------------------------------------------------
 mixin
---------------------------------------------------------------------------------------*/
/*TORIO Color*/
/*TORIO Service Color*/
@font-face {
  font-family: torio_icon;
  src: url(../font/torio_icon.ttf) format("ttf"); }

/*角丸*/
/*Font size*/
/*透明度*/
/*透明度*/
/*---------------------------------------------------------------------------------------
 common
---------------------------------------------------------------------------------------*/
html {
  overflow: hidden !important; }

body {
  font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック','MS PGothic',sans-serif;
  /*font-family: "Helvetica Neue",Helvetica,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif;*/
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.6;
  color: #333333;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  text-rendering: optimizelegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

pre {
  font-family: Monaco,Menlo,Consolas,"Courier New",monospace; }

.wrapper {
  height: 100%;
  overflow: hidden; }

ul li {
  list-style: none; }

.clearfix, .alart .account {
  *zoom: 1; }
  .clearfix:after, .alart .account:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden; }

/*---------------------------------------------------------------------------------------
 base
---------------------------------------------------------------------------------------*/
/*popover*/
.popover {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  display: none;
  position: absolute;
  z-index: 1000;
  background: #fff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  /*-webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);*/
  /*-webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #D8D8D8;
  border: 1px solid rgba(0, 0, 0, .2);*/
  line-height: 1.42857143;
  text-align: left;
  white-space: normal;
  opacity: 1;
  padding: 10px 1px; }

/*Header*/
header {
  border-bottom: 1px solid #cbcbcb;
  width: 100%;
  z-index: 1000;
  background: #fff; }
  header .header_inner {
    height: 55px;
    background: #fff;
    position: relative; }
  header .global_menu_btn {
    font-size: 25px;
    font-size: 2.5rem;
    position: absolute;
    top: 16px;
    left: 15px;
    color: #999999; }
    header .global_menu_btn:hover {
      color: #50bcb6;
      cursor: pointer; }
  header .activity_box {
    width: 400px;
    right: 10px;
    top: 60px; }

/*Torio Line*/
.header_line {
  position: relative;
  background: #ed6d44;
  height: 2px;
  width: 100%; }
  .header_line:before {
    content: '';
    position: absolute;
    border-top: 2px solid #feb22e;
    width: 33%;
    left: 0; }
  .header_line:after {
    content: '';
    position: absolute;
    border-top: 2px solid #39bcb5;
    width: 33%;
    right: 0; }

/*Search*/
.search {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  position: absolute;
  width: 50%;
  height: 32px;
  border: 1px solid #cbcbcb;
  top: 50%;
  left: 55%;
  margin: -15px 0 0 -30%; }
  .search .icon-search {
    font-size: 26px;
    font-size: 2.6rem;
    color: #999999;
    position: absolute;
    right: 3px;
    top: 3px; }
  .search input[type="search"] {
    font-size: 14px;
    font-size: 1.4rem;
    width: 100%;
    height: 32px;
    padding: 0 10px;
    line-height: 32px; }
  .search input[type="submit"] {
    position: absolute;
    right: 1px;
    width: 32px;
    height: 0;
    padding-top: 30px;
    overflow: hidden; }
    .search input[type="submit"]:hover {
      cursor: pointer; }

/*Alart*/
.alart {
  position: absolute;
  top: 16px;
  right: 15px;
  width: 180px;
  height: 30px; }
  .alart p {
    color: #555555;
    -webkit-transition: opacity 0.5s ease-out;
    -moz-transition: opacity 0.5s ease-out;
    -ms-transition: opacity 0.5s ease-out;
    transition: opacity 0.5s ease-out;
    display: block; }
    .alart p:hover {
      color: #50bcb6;
      cursor: pointer; }
  .alart .task {
    display: inline-block; }
    .alart .task p.icon {
      height: 30px;
      width: 15px;
      font-size: 26px;
      font-size: 2.6rem;
      color: #999999; }
  .alart .activity {
    display: inline-block;
    margin-left: 14%; }
    .alart .activity p.icon {
      height: 30px;
      width: 15px;
      font-size: 26px;
      font-size: 2.6rem;
      color: #999999; }
  .alart .account {
    position: absolute;
    top: -3px;
    right: 0; }
    .alart .account .image {
      display: inline-block;
      padding-right: 2px; }
      .alart .account .image .global_list_noimage {
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        -ms-border-radius: 100px;
        border-radius: 100px;
        font-size: 10px;
        font-size: 1rem;
        line-height: 28px;
        background: white;
        border: 1px solid #39bcb5;
        text-align: center;
        color: #39bcb5;
        font-family: 'Helvetica neue',Helvetica,Arial,sans-serif;
        width: 30px;
        height: 30px;
        display: block;
        font-weight: bold; }
    .alart .account .name {
      font-size: 12px;
      font-size: 1.2rem;
      display: inline-block;
      color: #333333; }

/*Main*/
.main {
  display: -webkit-box;
  display: -moz-box;
  overflow: hidden;
  z-index: 100;
  width: 100%;
  height: 100%; }
  .main h3 {
    font-size: 12px;
    font-size: 1.2rem;
    color: #555555; }

/*Global Menu*/
.global_menu {
  /*width: 14%;*/
  width: 220px;
  min-width: 100px;
  overflow-y: scroll;
  background: #fff; }
  .global_menu.ui-widget-content {
    border: none;
    border-right: 1px solid #cbcbcb; }
  .global_menu .global_menu_inner h3 {
    margin: 0 20px 5px 20px;
    font-size: 13px;
    font-size: 1.3rem; }
    .global_menu .global_menu_inner h3:first-child {
      margin-top: 2rem; }
  .global_menu .global_menu_inner ul {
    /*margin: 0 0 41px -10px;*/
    margin: 0 0 2rem -10px;
    font-size: 12px;
    font-size: 1.2rem; }
    .global_menu .global_menu_inner ul li {
      position: relative;
      list-style: none;
      clear: both;
      margin-bottom: 0; }
      .global_menu .global_menu_inner ul li a {
        color: #333333;
        display: block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding-right: 20px;
        height: 42px;
        line-height: 45px; }
        .global_menu .global_menu_inner ul li a span {
          margin: 9px 8px 9px 12px; }
        .global_menu .global_menu_inner ul li a.unread {
          color: #43aea8;
          font-weight: bold; }
          .global_menu .global_menu_inner ul li a.unread:before {
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            -ms-border-radius: 3px;
            border-radius: 3px;
            position: absolute;
            top: 52%;
            left: 18px;
            margin-top: -3px;
            z-index: 1000;
            content: "";
            width: 5px;
            height: 5px;
            background: #39bcb5; }
        .global_menu .global_menu_inner ul li a.selected {
          background: #39bcb5;
          color: #fff;
          font-weight: bold; }
          .global_menu .global_menu_inner ul li a.selected .global_list_noimage {
            background: #fff; }
      .global_menu .global_menu_inner ul li .global_list_noimage {
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        -ms-border-radius: 2px;
        border-radius: 2px;
        display: block;
        float: left;
        background: #39bcb5;
        width: 25px;
        height: 25px;
        margin-left: 30px; }
      .global_menu .global_menu_inner ul li .global_list_image {
        float: left;
        margin-left: 30px; }
        .global_menu .global_menu_inner ul li .global_list_image img {
          -webkit-border-radius: 2px;
          -moz-border-radius: 2px;
          -ms-border-radius: 2px;
          border-radius: 2px;
          width: 25px;
          height: auto; }
  .global_menu .global_menu_inner .groups, .global_menu .global_menu_inner .member {
    position: relative; }
    .global_menu .global_menu_inner .groups .add, .global_menu .global_menu_inner .member .add {
      position: absolute;
      right: 17px;
      top: -2px;
      font-size: 22px;
      font-size: 2.2rem;
      color: #999999; }
      .global_menu .global_menu_inner .groups .add button:hover, .global_menu .global_menu_inner .member .add button:hover {
        cursor: pointer; }
      .global_menu .global_menu_inner .groups .add button:focus, .global_menu .global_menu_inner .member .add button:focus {
        outline: none; }
      .global_menu .global_menu_inner .groups .add .md-trigger, .global_menu .global_menu_inner .member .add .md-trigger {
        width: 12px; }
        .global_menu .global_menu_inner .groups .add .md-trigger span, .global_menu .global_menu_inner .member .add .md-trigger span {
          position: relative;
          display: block;
          width: 3px;
          height: 13px;
          min-height: 1;
          background: #aeaeae; }
          .global_menu .global_menu_inner .groups .add .md-trigger span:before, .global_menu .global_menu_inner .member .add .md-trigger span:before {
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            -moz-transform: rotate(90deg);
            -webkit-transform: rotate(90deg);
            background: #aeaeae; }
  .global_menu .global_menu_inner .member .global_list_noimage {
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    border-radius: 100px;
    font-size: 10px;
    font-size: 1rem;
    line-height: 23px;
    background: white;
    border: 1px solid #39bcb5;
    text-align: center;
    color: #39bcb5;
    font-family: 'Helvetica neue',Helvetica,Arial,sans-serif; }
  .global_menu .global_menu_inner .member .global_list_image {
    float: left; }
    .global_menu .global_menu_inner .member .global_list_image img {
      -webkit-border-radius: 100px;
      -moz-border-radius: 100px;
      -ms-border-radius: 100px;
      border-radius: 100px;
      width: 25px;
      height: auto; }

/*Page Menu*/
.page_menu {
  position: relative;
  /*width: 20%;*/
  width: 315px;
  height: 100%;
  background: #fff; }
  .page_menu.ui-widget-content {
    border: none;
    border-right: 1px solid #cbcbcb; }
  .page_menu .config {
    position: relative;
    height: 55px;
    padding: 0 13px;
    border-bottom: 1px solid #cbcbcb;
    line-height: 55px; }
    .page_menu .config .title {
      font-size: 13px;
      font-size: 1.3rem;
      color: #333333;
      font-weight: bold;
      float: left;
      font-family: 'Helvetica neue',Helvetica,Arial,sans-serif; }
      .page_menu .config .title span {
        font-weight: normal;
        padding-left: 10px;
        font-family: 'Helvetica neue',Helvetica,Arial,sans-serif;
        color: #999999; }
    .page_menu .config .check {
      font-size: 22px;
      font-size: 2.2rem;
      color: #999999;
      position: absolute;
      left: 83px;
      top: 16px; }
    .page_menu .config .favorite {
      font-size: 23px;
      font-size: 2.3rem;
      color: #999999;
      position: absolute;
      right: 83px;
      top: 15px;
      font-weight: 700; }
      .page_menu .config .favorite:hover {
        color: #feb22e; }
    .page_menu .config .viewers {
      color: #999999;
      position: absolute;
      right: 43px;
      top: 0; }
      .page_menu .config .viewers i {
        font-size: 22px;
        font-size: 2.2rem; }
      .page_menu .config .viewers .number {
        vertical-align: super;
        font-family: 'Helvetica neue',Helvetica,Arial,sans-serif;
        color: #999999; }
      .page_menu .config .viewers:hover {
        color: #50bcb6; }
    .page_menu .config .option {
      font-size: 28px;
      font-size: 2.8rem;
      color: #999999;
      position: absolute;
      right: 7px;
      top: 13px; }
      .page_menu .config .option:hover {
        color: #50bcb6; }
    .page_menu .config .option_box, .page_menu .config .check_box {
      width: 250px;
      height: 140px;
      left: 190px;
      top: 45px;
      z-index: 1000; }
      .page_menu .config .option_box ul, .page_menu .config .check_box ul {
        padding: 10px 0; }
        .page_menu .config .option_box ul li, .page_menu .config .check_box ul li {
          line-height: 40px; }
          .page_menu .config .option_box ul li a, .page_menu .config .check_box ul li a {
            padding: 0 20px;
            display: block;
            height: 40px; }
            .page_menu .config .option_box ul li a:hover, .page_menu .config .check_box ul li a:hover {
              background: #39bcb5;
              color: white;
              cursor: pointer; }
    .page_menu .config .check_box {
      height: auto;
      left: 50px; }
  .page_menu .page_menu_inner {
    overflow: hidden;
    height: 100%; }
    .page_menu .page_menu_inner .item {
      font-size: 12px;
      font-size: 1.2rem;
      position: relative;
      padding: 16px 10px 16px 20px;
      color: #555555;
      border-bottom: 1px solid #eeeeee; }
      .page_menu .page_menu_inner .item .check {
        position: absolute;
        right: 14px;
        top: 0;
        width: 0;
        height: 0;
        border-top: 20px solid #db4c3f;
        border-right: 8px solid #db4c3f;
        border-bottom: 7px solid #fff;
        border-left: 8px solid #db4c3f; }
      .page_menu .page_menu_inner .item .title {
        font-size: 15px;
        font-size: 1.5rem;
        color: #333333;
        font-weight: bold;
        margin-bottom: 8px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis; }
      .page_menu .page_menu_inner .item a.unread .title {
        color: #43aea8; }
        .page_menu .page_menu_inner .item a.unread .title:before {
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          -ms-border-radius: 3px;
          border-radius: 3px;
          position: absolute;
          top: 29px;
          left: 9px;
          margin-top: -3px;
          z-index: 1000;
          content: "";
          width: 5px;
          height: 5px;
          background: #39bcb5; }
      .page_menu .page_menu_inner .item.file ul li {
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        -ms-border-radius: 2px;
        border-radius: 2px;
        display: inline-block;
        height: 50px;
        overflow: hidden;
        border: 2px solid #fff;
        /*box-shadow: 1px 1px 1px rgba(0,0,0,0.2);*/
        /*-moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
            -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);*/
        -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
        -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
        margin-right: 5px; }
        .page_menu .page_menu_inner .item.file ul li img {
          width: 60px;
          height: auto;
          vertical-align: middle; }
      .page_menu .page_menu_inner .item.note {
        height: 115px; }
        .page_menu .page_menu_inner .item.note .text {
          height: 45px;
          line-height: 1.4;
          overflow: hidden;
          text-overflow: ellipsis; }
          .page_menu .page_menu_inner .item.note .text::after {
            content: "…"; }
      .page_menu .page_menu_inner .item.task ul {
        margin-right: 55px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis; }
        .page_menu .page_menu_inner .item.task ul li {
          margin-bottom: 2px;
          width: 100%; }
          .page_menu .page_menu_inner .item.task ul li .name {
            float: left;
            display: block;
            text-align: left;
            width: 30%; }
          .page_menu .page_menu_inner .item.task ul li .value {
            display: block;
            text-align: right;
            width: 70%; }
      .page_menu .page_menu_inner .item.task .graph {
        position: absolute;
        right: 13px;
        bottom: 16px;
        height: 50px;
        font-family: 'Helvetica neue',Helvetica,Arial,sans-serif; }
        .page_menu .page_menu_inner .item.task .graph.green .number p {
          color: #43aea8; }
        .page_menu .page_menu_inner .item.task .graph.yellow .number p {
          color: #feb22e; }
        .page_menu .page_menu_inner .item.task .graph.red .number p {
          color: #ed6d44; }
        .page_menu .page_menu_inner .item.task .graph .number {
          position: absolute;
          right: 0;
          top: 0;
          width: 50px;
          text-align: center;
          line-height: 50px; }
          .page_menu .page_menu_inner .item.task .graph .number p {
            display: none; }
            .page_menu .page_menu_inner .item.task .graph .number p:first-child {
              display: block; }
  .page_menu .page_menu_footer {
    font-size: 40px;
    font-size: 4rem;
    color: #43aea8;
    display: block;
    z-index: 1000;
    position: absolute;
    right: 0;
    left: 0;
    height: 55px;
    border-top: 1px solid #cbcbcb;
    background: #fff;
    text-align: center;
    padding-top: 6px; }
    .page_menu .page_menu_footer .add_page {
      width: 250px;
      /*height: 140px;*/
      left: 105px;
      bottom: 40px;
      padding-top: 10px; }
      .page_menu .page_menu_footer .add_page ul {
        text-align: left; }
        .page_menu .page_menu_footer .add_page ul li {
          font-size: 14px;
          font-size: 1.4rem;
          /*font-weight: bold;*/
          line-height: 38px;
          position: relative; }
          .page_menu .page_menu_footer .add_page ul li.add_page_note a i, .page_menu .page_menu_footer .add_page ul li.add_page_task a i, .page_menu .page_menu_footer .add_page ul li.add_page_file a i {
            color: #feb22e; }
          .page_menu .page_menu_footer .add_page ul li.add_page_note a:hover i, .page_menu .page_menu_footer .add_page ul li.add_page_task a:hover i, .page_menu .page_menu_footer .add_page ul li.add_page_file a:hover i {
            color: white; }
          .page_menu .page_menu_footer .add_page ul li.add_page_task a i {
            color: #3595e1; }
          .page_menu .page_menu_footer .add_page ul li.add_page_file a i {
            color: #ed6d44; }
          .page_menu .page_menu_footer .add_page ul li a {
            padding: 0 20px 0 45px;
            display: block;
            height: 35px; }
            .page_menu .page_menu_footer .add_page ul li a i:before {
              font-size: 26px;
              font-size: 2.6rem;
              position: absolute;
              top: 6px;
              left: 15px; }
            .page_menu .page_menu_footer .add_page ul li a:hover {
              background: #39bcb5;
              color: white; }

/*detail*/
.detail {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  padding: 30px;
  background: #e9e9e9;
  width: 100%;
  height: 100%; }
  .detail.ui-widget-content {
    border: none; }

/*---------------------------------------------------------------------------------------
 note
---------------------------------------------------------------------------------------*/
