/*---------------------------------------------------------------------------------------
 common
---------------------------------------------------------------------------------------*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  overflow: hidden !important;
}
body {
  font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック','MS PGothic',sans-serif;
  @include fontsize(1.4);
  line-height: 1.6;
  color: $dark_brack;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  text-rendering: optimizelegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
pre {
  font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
}
.wrapper {
  height: 100%;
  overflow: hidden;
}
a {
  &:hover {
    text-decoration: none;
  }
}
ul {
  li {
    list-style: none;
  }
}
p {
  margin: 0;
}
button {
  &:focus {
    outline: none;
  }
}
.clearfix{
  *zoom:1;
  &:after{
    content: ".";
    display: block;
    clear: both;
    height: 0;
    visibility:hidden;
  }
}

/*---------------------------------------------------------------------------------------
 base
---------------------------------------------------------------------------------------*/
.noimage {
  @include border_radius(100px);
  @include font_eng;
  background: $torio_green;
  text-align: center;
  color: #FFF;
  display: block;
  font-weight: bold;
}
.user_image {
  img {
    @include border_radius(100px);
  }
}
.popover_big {
  @include border_radius();
  display: none;
  width: 500px;
  position: absolute;
  z-index: 1000;
  background: #fff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border: none;
  line-height: 1.42857143;
  text-align: left;
  white-space: normal;
  @include opacity(1);
  padding: 10px 0;
  z-index: 10;
}
.popover {
  @include border_radius();
  display: none;
  width: 250px;
  position: absolute;
  z-index: 1000;
  background: #fff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border: none;
  line-height: 1.42857143;
  text-align: left;
  white-space: normal;
  @include opacity(1);
  padding: 10px 0;
  z-index: 10;
  h3 {
    @include fontsize(1.4);
    border-bottom: 1px solid $border_white_gray;
    margin: 0;
    font-weight: bold;
    padding: 5px 15px 15px 15px;
  }
  .popover_inner {
    padding: 10px 15px;
    .text {
      @include fontsize(1.3);
      position: static;
      margin-bottom: 10px;
      &:hover {
        color: $white_brack;
        cursor: default;
      }
    }
    input {
      @include border_radius();
      height: 30px;
      padding: 5px;
      width: 141px;
      border: 1px solid $border_gray;
      margin-right: 10px;
    }
  }
  ul {
    margin-bottom: 0;
    li {
      line-height: 40px;
      a {
        padding: 0 20px;
        display: block;
        height: 40px;
        &:hover {
          background: $torio_green;
          color: white;
          cursor: pointer;
        }
      }
      button {
        position: relative;
        padding: 0 20px;
        display: block;
        text-align: left;
        width: 100%;
        height: 40px;
        &:hover {
          background: $torio_green;
          color: white;
          cursor: pointer;
          .noimage {
            color: $torio_green;
            background: #fff;
          }
        }
        &.checked {
          &:after {
            @include fontsize(2.0);
            position: absolute;
            right: 15px;
            text-align: right;
            font-family: 'torio_icon';
            content: "\e649";
          }
        }
      }
    }
  }
}
.main {
  .popover {
    @include border_radius();
    display: none;
    position: absolute;
    z-index: 1000;
    background: #fff;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border: none;
    line-height: 1.42857143;
    text-align: left;
    white-space: normal;
    @include opacity(1);
    padding: 10px 0;
    z-index: 10;
    h3 {
      @include fontsize(1.4);
      border-bottom: 1px solid $border_white_gray;
      margin: 0;
      font-weight: bold;
      padding: 5px 15px 15px 15px;
    }
    .popover_inner {
      padding: 10px 15px;
      .text {
        @include fontsize(1.3);
        position: static;
        margin-bottom: 10px;
        &:hover {
          color: $white_brack;
          cursor: default;
        }
      }
      input {
        @include border_radius();
        height: 30px;
        padding: 5px;
        width: 141px;
        border: 1px solid $border_gray;
        margin-right: 10px;
      }
    }
    ul {
      margin-bottom: 0;
      li {
        line-height: 40px;
        a {
          padding: 0 20px;
          display: block;
          height: 40px;
          &:hover {
            background: $torio_green;
            color: white;
            cursor: pointer;
          }
        }
        button {
          position: relative;
          padding: 0 20px;
          display: block;
          text-align: left;
          width: 100%;
          height: 40px;
          &:hover {
            background: $torio_green;
            color: white;
            cursor: pointer;
            .noimage {
              color: $torio_green;
              background: #fff;
            }
          }
          &.checked {
            &:after {
              @include fontsize(2.0);
              position: absolute;
              right: 15px;
              text-align: right;
              font-family: 'torio_icon';
              content: "\e649";
            }
          }
        }
      }
    }
  }
}
.popover_big {
  @include border_radius();
  display: none;
  width: 500px;
  position: absolute;
  z-index: 1000;
  background: #fff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border: none;
  line-height: 1.42857143;
  text-align: left;
  white-space: normal;
  @include opacity(1);
  padding: 10px 0;
  z-index: 10;
  h3 {
    @include fontsize(1.4);
    border-bottom: 1px solid $border_white_gray;
    margin: 0;
    font-weight: bold;
    padding: 5px 15px 15px 15px;
  }
  .popover_inner {
    padding: 10px 15px;
    .text {
      @include fontsize(1.3);
      position: static;
      margin-bottom: 10px;
      &:hover {
        color: $white_brack;
        cursor: default;
      }
    }
    input {
      @include border_radius();
      height: 30px;
      padding: 5px;
      width: 141px;
      border: 1px solid $border_gray;
      margin-right: 10px;
    }
  }
  ul {
    margin-bottom: 0;
    li {
      line-height: 40px;
      a {
        padding: 0 20px;
        display: block;
        height: 40px;
        &:hover {
          background: $torio_green;
          color: white;
          cursor: pointer;
        }
      }
      button {
        position: relative;
        padding: 0 20px;
        display: block;
        text-align: left;
        width: 100%;
        height: 40px;
        &:hover {
          background: $torio_green;
          color: white;
          cursor: pointer;
          .noimage {
            color: $torio_green;
            background: #fff;
          }
        }
        &.checked {
          &:after {
            @include fontsize(2.0);
            position: absolute;
            right: 15px;
            text-align: right;
            font-family: 'torio_icon';
            content: "\e649";
          }
        }
      }
    }
  }
}

.modal-backdrop {
  background: #323A45;
  &.in {
    @include opacity(0.96);
  }
}
/*Header*/
header {
  /*border-bottom: 1px solid $border_gray;*/
  width: 100%;
  z-index: 1000;
  .header_inner {
    height: 50px;
    position: relative;
    background: #1f2532;
    @include opacity(0.9);
    /*background: #f6f6f6;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFEEEEEE', GradientType=0);
    background: linear-gradient(to bottom,#fff,#eee);
    background: -moz-linear-gradient(top,#fff,#eee);
    background: -webkit-linear-gradient(top,#fff,#eee);
    background: -o-linear-gradient(top,#fff,#eee);
    background: -ms-linear-gradient(top,#fff,#eee);*/
  }
  .global_menu_btn {
    @include fontsize(2.5);
    position: absolute;
    top: 13px;
    left: 15px;
    color: $white_brack;
    &:hover {
      color: $torio_green;
      cursor: pointer;
    }
  }
  .task_box {
    right: 80px;
    top: 60px;
  }
  .activity_box {
    right: 60px;
    top: 60px;
  }
  &.fixed{
    position: fixed !important;
    left: 0;
    top: 0;
    z-index: 9000 !important;
  }
}

/*Torio Line*/
/*.header_line {
  position: relative;
  background: $torio_red;
  height: 2px;
  width: 100%;
  &:before {
    content: '';
    position: absolute;
    border-top: 2px solid $torio_yellow;
    width: 33%;
    left: 0;
  }
  &:after {
    content: '';
    position: absolute;
    border-top: 2px solid $torio_green;
    width: 33%;
    right: 0;
  }
}*/

/*Search*/
.search {
  @include border_radius(2px);
  position: absolute;
  width: 50%;
  height: 29px;
  border: 1px solid #fff;
  background: #fff;
  top: 52%;
  left: 55%;
  margin: -15px 0 0 -30%;
  .icon-search {
    @include fontsize(2.6);
    color: $white_brack;
    position: absolute;
    right: 3px;
    top: 1px;
    z-index: 10;
  }
  input {
    &[type="search"] {
      @include fontsize(1.4);
      width: 90%;
      height: 32px;
      padding: 0 10px;
      line-height: 32px;
    }
    &[type="submit"] {
      position: absolute;
      right: 1px;
      top:0;
      width: 32px;
      height: 0;
      padding-top: 30px;
      overflow: hidden;
      z-index: 100;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

/*Alart*/
.alart {
  position: absolute;
  top: 13px;
  right: 23px;
  width: 180px;
  height: 30px;
  p {
    color: $brack;
    @include easeout;
    display: block;
    &:hover {
      color: $torio_green;
      cursor: pointer;
    }
  }
  .task {
    display: inline-block;
    p {
      &.icon {
        @include fontsize(2.6);
        position: relative;
        height: 30px;
        width: 30px;
        color: $white_brack;
        &:hover {
          color: $torio_green;
          cursor: pointer;
        }
      }
      .unread {
        @include fontsize(1.0);
        @include border_radius(100px);
        @include font_eng;
        font-weight: bold;
        position: absolute;
        text-align: center;
        color: #fff;
        top: 0px;
        right: -3px;
        margin-top: -6px;
        z-index: 1000;
        content: "";
        width: auto;
        padding: 0 0 0 0;
        background: $dark_red;
        line-height: 18px;
        min-width: 18px;
        min-height: 18px;
      }
    }
  }
  .activity {
    @extend .task;
    padding-left: 10px;
  }
  .me {
    position: absolute;
    top: -3px;
    right: 0;
    @extend .clearfix;
    .image {
      display: inline-block;
      padding-right: 3px;
      .noimage {
        @include fontsize(1.0);
        line-height: 30px;
        width: 30px;
        height: 30px;
      }
    }
    .name {
      @include fontsize(1.2);
      display: inline-block;
      color: $white_brack;
    }
  }
}

.account {
  @extend .clearfix;
  .login {
    float: right;
    margin: 9px 10px 0 0 ;
    a {
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      cursor: pointer;
      -webkit-box-shadow: inset 0 0 0 1px #cbcbcb;
      box-shadow: inset 0 0 0 1px #cbcbcb;
      padding: 0 15px;
      display: inline-block;
      font-size: 14px;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      line-height: 37px;
      /*font-family: BrandonText-Medium, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;*/
      font-weight: normal;
      font-style: normal;
      -webkit-border-radius: 2px;
      border-radius: 2px;
      color: #7d7d7d;
      text-decoration: none;
      &:hover {
        /*-webkit-box-shadow: inset 0 0 0 1px #b2b2b2;
        box-shadow: inset 0 0 0 1px #b2b2b2;*/
        outline:0;
        background: #ff3c40;
        color: white;
        -webkit-box-shadow: inset 0 0 0 1px #ff090e;
        box-shadow: inset 0 0 0 1px #ff090e;
      }
    }
  }
  .new {
    float: right;
    margin: 9px 10px 0 0 ;
    a {
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      cursor: pointer;
      -webkit-box-shadow: inset 0 0 0 1px #cbcbcb;
      box-shadow: inset 0 0 0 1px #cbcbcb;
      padding: 0 15px;
      display: inline-block;
      font-size: 14px;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      line-height: 37px;
      /*font-family: BrandonText-Medium, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;*/
      font-weight: normal;
      font-style: normal;
      -webkit-border-radius: 2px;
      border-radius: 2px;
      color: #7d7d7d;
      text-decoration: none;
      &:hover{
        /*-webkit-box-shadow: inset 0 0 0 1px #b2b2b2;
        box-shadow: inset 0 0 0 1px #b2b2b2;*/
        outline:0;
        background: #ff3c40;
        color: white;
        -webkit-box-shadow: inset 0 0 0 1px #ff090e;
        box-shadow: inset 0 0 0 1px #ff090e;
      }
    }
  }
}

.message_bar {
  width: 100%;
  color: #fff;
  padding: 0;
  position: fixed;
  _position: absolute;
  animation: animate-bg 5s linear infinite;
  z-index: 1000;
  text-align: center;
  height: 55px;
  &.info{
    background-color: $blue;
    @include opacity(0.9);
    h3{
      a{
        &:hover{
          color: $blue;
        }
      }
    }
  }
  &.error{
    background-color: #db4c3f;
    @include opacity(0.9);
    h3{
      a{
        &:hover{
          color: #db4c3f;
        }
      }
    }
  }
  &.warning{
    background-color: $torio_yellow;
    @include opacity(0.9);
    h3{
      a{
        &:hover{
          color: $torio_yellow;
        }
      }
    }
  }
  &.success{
    background-color: $torio_green;
    @include opacity(0.9);
    h3{
      a{
        &:hover{
          color: $torio_green;
        }
      }
    }
  }
  h3{
    margin: 0;
    padding: 0;
    line-height: 55px;
    @include fontsize(2.0);
    vertical-align: middle;
    a{
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      cursor: pointer;
      -webkit-box-shadow: inset 0 0 0 1px #FFFFFF;
      box-shadow: inset 0 0 0 1px #FFFFFF;
      padding: 0 15px;
      display: inline-block;
      font-size: 14px;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      line-height: 35px;
      /*font-family: BrandonText-Medium, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;*/
      font-weight: normal;
      font-style: normal;
      -webkit-border-radius: 2px;
      border-radius: 2px;
      color: #FFFFFF;
      text-decoration: none;
      vertical-align: top;
      margin-top: 10px;
      &:hover{
        /*-webkit-box-shadow: inset 0 0 0 1px #b2b2b2;
        box-shadow: inset 0 0 0 1px #b2b2b2;*/
        outline:0;
        background: #FFFFFF;
        -webkit-box-shadow: inset 0 0 0 1px #FFFFFF;
        box-shadow: inset 0 0 0 1px #FFFFFF;
      }
    }
  }
  p {
    text-align: right;
    position: absolute;
    top:10px;
    right: 5px;
    @include fontsize(3.4);
  }
}

/*Main*/
.main {
  display: -webkit-box;
  display: -moz-box;
  overflow: hidden;
  z-index: 100;
  width: 100%;
  height: 100%;
  h3 {
    @include fontsize(1.2);
    color: $brack;
  }
}

/*Global Menu*/
.global_menu {
  width: 200px;
  min-width: 100px;
  background: #fff;
  &.ui-widget-content {
    border: none;
    border-right: 1px solid $border_gray;
  }
  .global_menu_inner {
    // overflow: hidden;
    h3 {
      margin: 0 20px 8px 20px;
      @include fontsize(1.3);
      font-weight: bold;
      &:first-child {
        padding-top: 30px;
      }
    }
    ul {
      margin: 0 0 0 -10px;
      @include fontsize(1.2);
      li {
        position: relative;
        list-style: none;
        clear: both;
        margin-bottom: 0;
        a {
          color: $dark_brack;
          display: block;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          padding-right: 20px;
          height: 47px;
          line-height: 50px;
          span {
            margin: 9px 8px 9px 12px;
          }
          &:hover {
            background: $white_gray;
          }
          &.unread {
            color: $green;
            font-weight: bold;
            &:before {
              @include border_radius(70px);
              position: absolute;
              top: 52%;
              left: 17px;
              margin-top: -3px;
              z-index: 1000;
              content: "";
              width: 7px;
              height: 7px;
              background: #2aaef5;
            }
          }
          &.selected {
            background: $torio_green;
            color: #fff;
            font-weight: bold;
            .global_list_noimage {
              background: #fff;
            }
          }
        }
        .global_list_noimage {
          /*@include border_radius(2px);*/
          display: block;
          float: left;
          background: $torio_green;
          width: 30px;
          height: 30px;
          margin-left: 30px;
        }
        .global_list_image {
          float: left;
          margin-left: 30px;
          img {
            /*@include border_radius(2px);*/
            width: 30px;
            height: auto;
          }
        }
      }
    }
    .groups {
      position: relative;
      .add {
        position: absolute;
        right: 17px;
        top : 26px;
        @include fontsize(2.2);
        color: $white_brack;
        cursor: pointer;
        &:hover {
          color: $torio_green;
        }
        .balloon_box {
          top: -35px;
          left: 50%;
          margin-left: -50px;
        }
        .md-trigger {
          width: 12px;
          span {
            position: relative;
            display:block;
            width:3px;
            height: 13px;
            min-height: 1;
            background: $icon_white_gray;
            &:before {
              content:"";
              display:block;
              width:100%;
              height:100%;
              -moz-transform:rotate(90deg);
              -webkit-transform:rotate(90deg);
              background: $icon_white_gray;
            }
          }
        }
      }
    }
    .member {
      @extend .groups;
      padding-bottom: 3rem;
      .noimage {
        @include font_eng;
        @include fontsize(1.0);
        line-height: 30px;
        text-align: center;
        margin-left: 30px;
        width: 30px;
        float: left;
      }
      .user_image {
        float: left;
        margin-left: 30px;
        img {
          width: 30px;
          height: auto;
        }
      }
    }
  }
}

/*Page Menu*/
.page_menu {
  position: relative;
  /*width: 20%;*/
  width: 310px;
  height: 100%;
  background: #fff;
  overflow: hidden;
  &.ui-widget-content {
    border: none;
    border-right: 1px solid $border_gray;
  }
  .config {
    position: relative;
    height: 45px;
    padding: 0 13px;
    /*border-bottom: 1px solid $border_gray;*/
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    line-height: 45px;
    .title {
      @include fontsize(1.3);
      @include font_eng;
      color: $dark_brack;
      font-weight: bold;
      float: left;
      margin-bottom: 0;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      max-width: 47%;
      span {
        font-weight: normal;
        padding-left: 10px;
        @include font_eng;
        color:$white_brack;
      }
    }
    .check {
      @include fontsize(2.2);
      color: $white_brack;
      float: left;
      margin-top: 12px;
      &:hover {
        cursor: pointer;
      }
    }
    .favorite {
      @include fontsize(2.3);
      color: $white_brack;
      position: absolute;
      right: 93px;
      top: 10px;
      font-weight: 700;
      &:hover {
        color: $yellow;
        cursor: pointer;
      }
      .icon-star-outline{
        display: block;
      }
      .icon-star{
        display: none;
      }
      &.active {
        .icon-star-outline {
          display: none;
        }
        .icon-star {
          display: block;
          color: $yellow;
        }
      }
    }
    .viewers {
      color: $white_brack;
      position: absolute;
      right: 49px;
      top: 1px;
      i {
        @include fontsize(2.2);
      }
      .number {
        vertical-align: super;
        @include font_eng;
        color:$white_brack;
        @include fontsize(1.1);
      }
      &:hover {
        color: $torio_green;
        cursor: pointer;
      }
    }
    .option {
      @include fontsize(2.8);
      color: $white_brack;
      position: absolute;
      right: 7px;
      top: 9px;
      &:hover {
        color: $torio_green;
        cursor: pointer;
      }
    }
    .option_box {
      width: 250px;
      height: auto;
      right: 15px;
      top: 45px;
      z-index: 1000;
    }
    .small-button {
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      cursor: pointer;
      -webkit-box-shadow: inset 0 0 0 1px #cbcbcb;
      box-shadow: inset 0 0 0 1px #cbcbcb;
      padding: 0 15px;
      display: inline-block;
      font-size: 14px;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      line-height: 35px;
      font-family: BrandonText-Medium, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
      font-weight: normal;
      font-style: normal;
      -webkit-border-radius: 4px;
      border-radius: 4px;
      color: #7d7d7d;
      position: absolute;
      top: 10px;
      right: 10px;
      i{
        @include fontsize(2.4);
      }
    }
    .check_box {
      @extend .option_box;
      left: 20px;
    }
  }
  .page_menu_inner {
    overflow: hidden;
    width: 100%;
    .item {
      @include fontsize(1.2);
      position: relative;
      padding: 18px 10px 18px 20px;
      color: $brack;
      border-bottom: 1px solid $border_white_gray;
      &:hover {
        background: $white_gray;
        .check {
         	border-bottom: 7px solid $white_gray;
        }
      }
      &.selected {
        background: $torio_green;
        .check {
         	border-bottom: 7px solid $torio_green;
        }
        .title,.text,ul {
          color: #fff;
        }
        .unread {
          .title {
            color: #fff;
          }
        }
      }
      .check {
        position: absolute;
        right: 16px;
        top: 0;
       	width: 0;
       	height: 0;
       	border-top: 12px solid $dark_red;
       	border-right: 8px solid $dark_red;
       	border-bottom: 7px solid #fff;
       	border-left: 8px solid $dark_red;
      }
      .title {
        @include fontsize(1.5);
        color: $dark_brack;
        font-weight: bold;
        margin-bottom: 10px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      a {
        &.unread {
          .title {
            color: $green;
            &:before {
              @include border_radius(70px);
              position: absolute;
              top: 29px;
              left: 7px;
              margin-top: -3px;
              z-index: 1000;
              content: "";
              width: 7px;
              height: 7px;
              background: #2aaef5;
            }
          }
        }
      }
      &.file {
        ul {
          margin: 0;
          padding: 0;
          li {
            /*@include border_radius(2px);*/
            display: inline-block;
            height: 50px;
            overflow: hidden;
            /*border: 2px solid #fff;
            -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.07);
            -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.07);
            box-shadow: 0 1px 1px rgba(0,0,0,0.1);*/
            margin: 0 1.7px 0 0;
            position: relative;
            ._52d9{
              /*background-color: rgba(0, 0, 0, .4);*/
              background: #1f2532;
              @include opacity(0.5);
              bottom: 0;
              color: #fff;
              font-size: 15px;
              @include font_eng;
              font-weight: bold;
              left: 0;
              position: absolute;
              right: 0;
              top: 0;
              ._52da{
                display: table;
                height: 100%;
                width: 100%;
                ._52db{
                  display: table-cell;
                  text-align: center;
                  vertical-align: middle;
                }
              }
            }
            img {
              width: 50px;
              height: 50px;
              vertical-align: middle;
            }
          }
        }
      }
      &.note {
        height: 120px;
        .text {
          height: 50px;
          line-height: 1.5;
          overflow: hidden;
          text-overflow: ellipsis;
          &::after {
            content: "…";
          }
        }
      }
      &.task {
        ul {
          margin-right: 55px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          li {
            margin-bottom: 2px;
            width: 100%;
            .name {
              float: left;
              display: block;
              text-align: left;
              width: 30%;
            }
            .value {
              display: block;
              text-align: right;
              width: 70%;
            }
          }
        }
        .graph {
          position: absolute;
          right: 16px;
          bottom: 20px;
          height: 50px;
          @include font_eng;
          &.green {
            .number {
              p {
                color: $torio_green;
              }
            }
          }
          &.yellow {
            .number {
              p {
                color: $yellow;
              }
            }
          }
          &.red {
            .number {
              p {
                color: $red;
              }
            }
          }
          .number {
            position: absolute;
            right: 0;
            top: 0;
            width: 50px;
            text-align: center;
            line-height: 50px;
            p {
              display: none;
              &:first-child {
                display: block;
              }
            }
          }
        }
      }
    }
  }
  .page_menu_footer {
    @include fontsize(4.0);
    color: $torio_green;
    display: block;
    z-index: 1000;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 48px;
    height: 55px;
    /*border-top: 1px solid $border_gray;*/
    -webkit-box-shadow: 0 -1px 2px rgba(0,0,0,0.15),inset 0 1px 0 rgba(255,255,255,0.5);
    box-shadow: 0 -1px 2px rgba(0,0,0,0.15),inset 0 1px 0 rgba(255,255,255,0.5);
    background: #fff;
    text-align: center;
    padding-top: 8px;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    &:hover{
      outline:0;
      background: $torio_green;
      color: white;
    }
    .add_page {
      width: 250px;
      right: 15px;
      top: -118px;
      padding-top: 10px;
      ul {
        text-align: left;
        li {
          @include fontsize(1.4);
          line-height: 38px;
          position: relative;
          &.add_page_note {
            a {
              i {
                color: $yellow;
              }
              &:hover {
                i {
                  color: white;
                }
              }
            }
          }
          &.add_page_task {
            @extend .add_page_note;
            a {
              i {
                color: $blue;
              }
            }
          }
          &.add_page_file {
            @extend .add_page_note;
            a {
              i {
                color: $red;
              }
            }
          }
          a {
            padding: 0 20px 0 45px;
            display: block;
            height: 35px;
            i {
              &:before {
                @include fontsize(2.6);
                position: absolute;
                top: 6px;
                left: 15px;
              }
            }
            &:hover {
              background: $torio_green;
              color: white;
            }
          }
        }
      }
    }
  }
}

/*detail*/
.detail {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  background: $white_gray;
  width: 100%;
  height: 100%;
  &.ui-widget-content {
    border: none;
  }
  .title {
    position: relative;
    padding: 30px 30px 30px 30px;
    h1 {
      @include fontsize(2.2);
      margin: 0 0 0 0;
      font-weight: bold;
      display: inline-block;
      line-height: 28px;
    }
    p {
      @include fontsize(2.6);
      line-height: 28px;
      position: absolute;
      color: $white_brack;
      top: 32px;
      &:hover {
        color: $torio_green;
        cursor: pointer;
      }
      &.check {
        /*position: static;*/
        display: inline-block;
      }
      &.bookmark {
        right: 120px;
        .icon-bookmark-outline {
          display: block;
        }
        .icon-bookmark {
          display: none;
        }
        &.active {
          .icon-bookmark-outline {
            display: none;
          }
          .icon-bookmark {
            color: $dark_red;
            display: block;
          }
        }
      }
      &.website {
        right: 69px;
        &:hover {
          .balloon_box {
            display: block;
            bottom: 78px;
            left: 50%;
            margin: -50px;
          }
        }
      }
      &.option {
        right: 24px;
      }
    }
    .detail_check_box {
      width: 250px;
    }
    .detail_option_box {
      width: 250px;
      right: 15px;
      top: 60px;
    }
    .detail_website_box {
      width: 400px;
      right: 70px;
      top: 60px;
    }
  }
}

/*---------------------------------------------------------------------------------------
 Modal
---------------------------------------------------------------------------------------*/
.modal {
  .modal_close {
    position: absolute;
    top:0px;
    right:15px;
    color: $white_brack;
    @include fontsize(3.0);
  }
  .modal-dialog {
    .modal-content {
      @include border_radius();
      /*-webkit-box-shadow: 0 0 17px rgba(0,0,0,.3);
      box-shadow: 0 0 17px rgba(0,0,0,.3);*/
      box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.11);
      border: none;
      .modal-header {
        @include border_radius(4 4 0 0);
        border-bottom: none;
        background: #fff;
        padding: 25px;
        .modal-title {
          @include fontsize(1.6);
          font-weight: normal;
        }
        .close {
          margin-top: -8px;
        }
        .option {
          position: absolute;
          right: 20px;
          top: 22px;
          color: $white_brack;
          i {
            @include fontsize(2.6);
          }
        }
        input[type="checkbox"] {
          & + label {
          width: 0;
          margin: 13px 30px 18px 0;
          }
        }
        .modal_option_box {
          width: 250px;
          right: -160px;
        }
      }
      .modal-body {
        background: $white_gray;
        &.white {
          border-top: 1px solid $border_white_gray;
          background: #fff;
        }
        .input_dot {
          @include fontsize(1.3);
          @include clearfix;
          padding: 10px;
          clear: both;
          .item_name {
            font-weight: bold;
            float: left;
            line-height: 35px;
            @include fontsize(1.3);
          }
          &:after {
            @include clearfix;
            clear: both;
            display: block;
            content: "";
            background-image: -webkit-linear-gradient(left, $white_brack, $white_brack 20%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0) 100%);
            background-image: -o-linear-gradient(left, $white_brack, $white_brack 20%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0) 100%);
            background-image: linear-gradient(to right, $white_brack, $white_brack 20%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0) 100%);
            background-size: 5px 5px;
            height: 1px;
            margin-top: 10px;
            visibility: visible;
          }
          &.dot_less {
            margin-bottom: 0;
            &:after {
              background: none;
              margin: 0;
            }
            .select_box {
              margin-bottom: 0;
              select {
                margin-bottom: 0;
              }
            }
          }
          .input_dot_contents {
            width: 400px;
            float: right;
            ul {
              li {
                position: relative;
                clear: both;
                height: 40px;
                padding-bottom: 15px;
                margin: 0;
                .user_image {
                  .noimage {
                    width: 30px;
                    height: 30px;
                    line-height: 30px;
                    @include fontsize(1.0);
                  }
                  img {
                    width: 30px;
                    height: 30px;
                  }
                }
                .user_name {
                  line-height: 30px;
                  padding-left: 10px;
                }
                .delete {
                  @include fontsize(2.0);
                  position: absolute;
                  right: -2px;
                  top: 6px;
                  line-height: 30px;
                  color: $white_brack;
                }
                .select_box {
                  position: absolute;
                  top: 2px;
                  right: 40px;
                  select {
                    line-height: 30px;
                    width: 100px;
                    border: none;
                    padding: 0;
                    &:focus {
                      outline: none;
                    }
                  }
                  &:after {
                    @include fontsize(2.6);
                    position: absolute;
                    right: 0;
                    top: -5px;
                    height: 26px;
                    width: 26px;
                    font-family: 'torio_icon';
                    content: "\e60a";
                    color: $white_brack;
                    visibility: visible;
                    z-index: 1;
                    display: block;
                  }
                }
              }
            }
            .toggle_btn {
              @include border_radius(18px);
              position: relative;
              float: left;
              width: 60px;
              height: 30px;
              padding: 3px;
              &:hover {
                cursor: pointer;
              }
              &.on {
                background: #4ad337;
                .circle {
                  width: 24px;
                  height: 24px;
                  top: 3px;
                }
              }
              &.off {
                background: $dark_gray;
              }
              .circle {
                @include border_radius(100px);
                position: absolute;
                left:3px;
                width: 24px;
                height: 24px;
                background: #fff;
                display: block;
                box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2),0 3px 4px 0 rgba(0,0,0,0.1);
              }
            }
            p {
              float: left;
              line-height: 35px;
              .on {
                display: none;
                margin-left: 15px;
              }
              .off {
                display: block;
                margin-left: 15px;
              }
            }
          }
          .profile_image {
            float: right;
            height: 95px;
            width: 400px;
            margin-bottom: 20px;
            .image_preview {
              width: 95px;
              height: 95px;
              float: left;
              background: $torio_green;
            }
            .photo_upload {
              float: left;
              overflow: hidden;
              position: relative;
              input[type="file"] {
                @include opacity(0);
                position: absolute;
                left: 0;
                top: 26%;
                width: 300px;
                height: 40px;
                margin: 0;
                font-size: 100px;
                cursor: pointer;
                z-index: 100;
              }
              p {
                line-height: 95px;
                padding-left: 20px;
                color: $green;
                z-index: 1;
              }
            }
          }
          .member_add_link {
            position: relative;
            float: right;
            width: 400px;
            padding-bottom: 40px;
            .single {
              position: absolute;
              left: 0;
            }
            .group {
              position: absolute;
              right: 0;
            }
          }
          input[type="text"] {
            @include border_radius(2);
            float: right;
            width: 400px;
            border: 1px solid $border_gray;
            padding: 10px 10px;
            margin-bottom: 20px;
          }
          .close_btn {
            position: relative;
            float: right;
            .delete {
              @include fontsize(2);
              position: absolute;
              color: $white_brack;
              right: 10px;
              top: 12px;
            }
          }
          .select_box {
            @include clearfix;
            float: right;
            margin-bottom: 20px;
            select {
              @include border_radius(2px);
              position: relative;
              width: 400px;
              -webkit-appearance: none;
              -moz-appearance: none;
              appearance: none;
              border: 1px solid $border_gray;
              padding: 12px 10px 10px 13px;
              margin: 0 0 0 0;
              z-index: 100;
              &:focus {
                outline: none;
              }
            }
            &:after {
              @include fontsize(2.6);
              position: absolute;
              right: 8px;
              top: 2px;
              height: 26px;
              width: 26px;
              font-family: 'torio_icon';
              content: "\e60a";
              color: $white_brack;
              visibility: visible;
              z-index: 1;
            }
          }
        }
        .task_detail {
          padding: 5px;
          .requester {
            @include border_radius(4px 4px 0 0);
            position: relative;
            width: 100%;
            border: 1px solid $border_gray;
            padding: 5px;
            line-height: 40px;
            height: 50px;
            i {
              @include fontsize(2.6);
              position: absolute;
              color: $brack;
              left: 10px;
              top: 12px;
            }
            input {
              padding-left: 40px;
              width: 550px;
              line-height: 21px;
              margin-top: 10px;
            }
          }
          .worker {
            @extend .requester;
            @include border_radius(0 0 4px 4px);
            border-top: none;
          }
          .limlt {
            @extend .requester;
            @include border_radius();
            margin-top: 20px;
            i {
              color: $dark_red;
            }
            input {
              line-height: 21px;
              margin-top: 10px;
            }
          }
          .information {
            @extend .limit;
            position: relative;
            textarea {
              @include border_radius();
              border: 1px solid $border_gray;
              padding: 13px;
              margin-top: 20px;
              width: 100%;
              resize: vertical;
              &:focus {
                outline: none;
              }
            }
            .btn_file {
              overflow: hidden;
              position: absolute;
              right: 110px;
              bottom: 7px;
              width: 30px;
              height: 30px;
              i {
                @include fontsize(2.6);
                color: $white_brack;
                &:hover {
                  color: $green;
                }
              }
              input[type="file"] {
                @include opacity(0);
                position: absolute;
                margin: 0;
                top: 0;
                width: 100px;
                height: 20px;
                &:hover {
                  cursor: pointer;
                }
              }
            }
            .btn_add_task {
              right: 10px;
              bottom: 10px;
            }
          }
        }
        .limit_add_time {
          left: 200px;
          top: 10px;
          .task_add_time_footer {
            .btn_add_task {
              bottom: 0;
            }
          }
        }
        .comment {
          margin-top: 20px;
          .comment_inner {
            display: table;
            width: 100%;
            table-layout: fixed;
            .user_image {
              display: table-cell;
              width: 50px;
              img {
                width: 40px;
                height: 40px;
                vertical-align: top;
                margin-top: 2px;
              }
              .noimage {
                @include font_eng;
                @include fontsize(1.2);
                line-height: 40px;
                text-align: center;
                width: 40px;
              }
            }
            .user_comment {
              display: table-cell;
              vertical-align: top;
              p {
                @include fontsize(1.4);
                &.name {
                  font-weight: bold;
                  padding-bottom: 1px;
                  .time {
                    margin-left: 10px;
                    font-weight: normal;
                    color: $white_brack;
                    @include fontsize(1.2);
                  }
                }
                &.memo {
                  @include fontsize(1.4);
                  word-wrap: break-word;
                  color: #000;
                }
              }
            }
          }
        }
      }
      .modal-footer  {
        border-top: none;
        padding: 25px;
        position: relative;
        &.gray {
          background: $white_gray;
        }
        textarea {
          @include border_radius();
          width: 100%;
          height: 95px;
          margin-bottom: 25px;
          border: 1px solid $border_gray;
          background: #fff;
          resize: none;
          outline: none;
          padding: 13px 13px;
        }
        button {
          width: 130px;
          height: 40px;
          line-height: 43px;
          @include fontsize(1.3);
          &.btn-default {
            /*background: $white_gray;*/
            border: none;
            margin-right: 10px;
            padding: 0;
            font-weight: normal;
            -webkit-box-shadow: inset 0 0 0 1px #cbcbcb;
            box-shadow: inset 0 0 0 1px #cbcbcb;
            &:hover {
              @include opacity(0.7);
            }
          }
          &.btn-primary {
            background: $torio_green;
            border: none;
            padding: 0;
            font-weight: 700;
            &:hover {
              @include opacity(0.7);
            }
          }
        }
        .link {
          position: absolute;
          left: 25px;
          bottom: 36px;
          a {
            padding: 0 0 0 25px;
            color: $white_brack;
            i {
              @include fontsize(2.4);
              @include border_radius(0);
              color: $white_brack;
              border: none;
              padding: 0;
              position: absolute;
              top: 0;
              left: 0;
            }
            span {
              @include fontsize(1.3);
            }
          }
        }
      }
    }
  }
}

#viewers_box,#note_viewers_box {
  .made{
    border-bottom: 1px solid $border_white_gray;
    padding: 30px 30px 20px 30px;
  }
  .modal-content {
    padding-bottom: 10px;
  }
  .modal-body {
    border-top: 1px solid $border_white_gray;
    background: #fff;
    height: 50%;
    overflow: hidden;
    padding: 10px 30px 10px 30px;
    @include border_radius(0 0 4 4);
    .view_group_member {
      border-bottom: 1px solid $border_white_gray;
      @extend .clearfix;
      width: 100%;
      position: relative;
      padding: 15px 0 15px 0;
      margin: 0;
      &:first-child {
        padding: 15px 0 15px 0;
      }
      &:last-child {
        padding: 15px 0 25px 0;
        border: none;
      }
      dt {
        float: left;
        width: 40px;
        .noimage {
        @include font_eng;
        @include fontsize(1.0);
        line-height: 38px;
        text-align: center;
      }
      .user_image {
        img {
          width: 40px;
          height: auto;
        }
      }
    }
    dd {
      float: left;
      line-height: 40px;
      margin-left: 10px;
      .user_friends {
        position: absolute;
        top: 15px;
        right: 0;
        /*border: 1px solid $border_gray;
        @include border_radius(4);*/
        @include fontsize(1.3);
        padding: 0 10px;
        }
      }
    }
  }
}

/*---------------------------------------------------------------------------------------
 Balloon
---------------------------------------------------------------------------------------*/

.balloon_box {
  @include balloon;
  display: none;
  position: absolute;
  z-index: 1100;
}
