/*---------------------------------------------------------------------------------------
 common
---------------------------------------------------------------------------------------*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  overflow: hidden !important;
}
body {
  font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック','MS PGothic',sans-serif;
  @include fontsize(1.4);
  line-height: 1.6;
  color: $dark_brack;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  text-rendering: optimizelegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
pre {
  font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
}
.wrapper {
  height: 100%;
  overflow: hidden;
}
a {
  &:hover {
    text-decoration: none;
  }
}
ul {
  li {
    list-style: none;
  }
}
p {
  margin: 0;
}
button {
  &:focus {
    outline: none;
  }
}
.clearfix{
  *zoom:1;
  &:after{
    content: ".";
    display: block;
    clear: both;
    height: 0;
    visibility:hidden;
  }
}

/*---------------------------------------------------------------------------------------
 base
---------------------------------------------------------------------------------------*/
.noimage {
  @include border_radius(100px);
  background: $torio_green;
  text-align: center;
  color: #FFF;
  font-family: 'Helvetica neue',Helvetica,Arial,sans-serif;
  display: block;
  font-weight: bold;
}
.user_image {
  img {
    @include border_radius(100px);
  }
}
/*popover*/
.popover {
  @include border_radius();
  display: none;
  width: 250px;
  position: absolute;
  z-index: 1000;
  background: #fff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border: none;
  line-height: 1.42857143;
  text-align: left;
  white-space: normal;
  opacity: 1;
  padding: 10px 0;
  ul {
    margin-bottom: 0;
    li {
      line-height: 40px;
      a {
        padding: 0 20px;
        display: block;
        height: 40px;
        &:hover {
          background: $torio_green;
          color: white;
          cursor: pointer;
        }
      }
    }
  }
}
.modal-backdrop {
  background: #fff;
  &.in {
    @include opacity(0.8);
  }
}
/*Header*/
header {
  border-bottom: 1px solid $border_gray;
  width: 100%;
  z-index: 1000;
  .header_inner {
    height: 55px;
    position: relative;
    background: #FFFFFF;
    /*background: #f6f6f6;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFEEEEEE', GradientType=0);
    background: linear-gradient(to bottom,#fff,#eee);
    background: -moz-linear-gradient(top,#fff,#eee);
    background: -webkit-linear-gradient(top,#fff,#eee);
    background: -o-linear-gradient(top,#fff,#eee);
    background: -ms-linear-gradient(top,#fff,#eee);*/
  }
  .global_menu_btn {
    @include fontsize(2.5);
    position: absolute;
    top: 16px;
    left: 15px;
    color: $white_brack;
    &:hover {
      color: $link_green;
      cursor: pointer;
    }
  }
  .activity_box {
    width: 400px;
    left: 76%;
    top: 60px;
  }
}

/*Torio Line*/
/*.header_line {
  position: relative;
  background: $torio_red;
  height: 2px;
  width: 100%;
  &:before {
    content: '';
    position: absolute;
    border-top: 2px solid $torio_yellow;
    width: 33%;
    left: 0;
  }
  &:after {
    content: '';
    position: absolute;
    border-top: 2px solid $torio_green;
    width: 33%;
    right: 0;
  }
}*/

/*Search*/
.search {
  @include border_radius(2px);
  position: absolute;
  width: 50%;
  height: 32px;
  border: 1px solid $border_gray;
  background: #fff;
  top: 48%;
  left: 55%;
  margin: -15px 0 0 -30%;
  .icon-search {
    @include fontsize(2.6);
    color: $white_brack;
    position: absolute;
    right: 3px;
    top: 3px;
  }
  input {
    &[type="search"] {
      @include fontsize(1.4);
      width: 100%;
      height: 32px;
      padding: 0 10px;
      line-height: 32px;
    }
    &[type="submit"] {
      position: absolute;
      right: 1px;
      width: 32px;
      height: 0;
      padding-top: 30px;
      overflow: hidden;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

/*Alart*/
.alart {
  position: absolute;
  top: 16px;
  right: 15px;
  width: 180px;
  height: 30px;
  p {
    color: $brack;
    @include easeout;
    display: block;
    &:hover {
      color: $link_green;
      cursor: pointer;
    }
  }
  .task {
    display: inline-block;
    p {
      &.icon {
        height: 30px;
        width: 15px;
        @include fontsize(2.6);
        color: $white_brack;
      }
    }
  }
  .activity {
    display: inline-block;
    margin-left: 14%;
    p {
      &.icon {
        height: 30px;
        width: 15px;
        @include fontsize(2.6);
        color: $white_brack;
      }
    }
  }
  .account {
    position: absolute;
    top: -3px;
    right: 0;
    @extend .clearfix;
    .image {
      display: inline-block;
      padding-right: 2px;
      .noimage {
        @include fontsize(1.0);
        line-height: 28px;
        width: 30px;
        height: 30px;
      }
    }
    .name{
      @include fontsize(1.2);
      display: inline-block;
      color: $dark_brack;
    }
  }
}

/*Main*/
.main {
  display: -webkit-box;
  display: -moz-box;
  overflow: hidden;
  z-index: 100;
  width: 100%;
  height: 100%;
  h3 {
    @include fontsize(1.2);
    color: $brack;
  }
}

/*Global Menu*/
.global_menu {
  width: 220px;
  min-width: 100px;
  background: #fff;
  &.ui-widget-content {
    border: none;
    border-right: 1px solid $border_gray;
  }
  .global_menu_inner {
    overflow: hidden;
    h3 {
      margin: 0 20px 8px 20px;
      @include fontsize(1.3);
      font-weight: bold;
      &:first-child {
        margin-top: 2.4rem;
      }
    }
    ul {
      margin: 0 0 2rem -10px;
      @include fontsize(1.2);
      li {
        position: relative;
        list-style: none;
        clear: both;
        margin-bottom: 0;
        a {
          color: $dark_brack;
          display: block;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          padding-right: 20px;
          height: 47px;
          line-height: 50px;
          span {
            margin: 9px 8px 9px 12px;
          }
          &.unread {
            color: $green;
            font-weight: bold;
            &:before {
              @include border_radius(3px);
              position: absolute;
              top: 52%;
              left: 18px;
              margin-top: -3px;
              z-index: 1000;
              content: "";
              width: 5px;
              height: 5px;
              background: $torio_green;
            }
          }
          &.selected {
            background: $torio_green;
            color: #fff;
            font-weight: bold;
            .global_list_noimage {
              background: #fff;
            }
          }
        }
        .global_list_noimage {
          /*@include border_radius(2px);*/
          display: block;
          float: left;
          background: $torio_green;
          width: 30px;
          height: 30px;
          margin-left: 30px;
        }
        .global_list_image {
          float: left;
          margin-left: 30px;
          img {
            /*@include border_radius(2px);*/
            width: 30px;
            height: auto;
          }
        }
      }
    }
    .groups {
      position: relative;
      .add {
        position: absolute;
        right: 17px;
        top : -5px;
        @include fontsize(2.2);
        color: $white_brack;
        button  {
          &:hover {
            cursor: pointer;
          }
        }
        .md-trigger {
          width: 12px;
          span {
            position: relative;
            display:block;
            width:3px;
            height: 13px;
            min-height: 1;
            background: $icon_white_gray;
            &:before {
              content:"";
              display:block;
              width:100%;
              height:100%;
              -moz-transform:rotate(90deg);
              -webkit-transform:rotate(90deg);
              background: $icon_white_gray;
            }
          }
        }
      }
    }
    .member {
      @extend .groups;
      .noimage {
        @include font_eng;
        @include fontsize(1.0);
        line-height: 30px;
        text-align: center;
        margin-left: 30px;
        width: 30px;
        float: left;
      }
      .user_image {
        float: left;
        margin-left: 30px;
        img {
          width: 30px;
          height: auto;
        }
      }
    }
  }
}

/*Page Menu*/
.page_menu {
  position: relative;
  /*width: 20%;*/
  width: 315px;
  height: 100%;
  background: #fff;
  overflow: hidden;
  &.ui-widget-content {
    border: none;
    border-right: 1px solid $border_gray;
  }
  .config {
    position: relative;
    height: 55px;
    padding: 0 13px;
    /*border-bottom: 1px solid $border_gray;*/
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    line-height: 55px;
    .title {
      @include fontsize(1.3);
      @include font_eng;
      color: $dark_brack;
      font-weight: bold;
      float: left;
      margin-bottom: 0;
      span {
        font-weight: normal;
        padding-left: 10px;
        font-family: 'Helvetica neue',Helvetica,Arial,sans-serif;
        color:$white_brack;
      }
    }
    .check {
      @include fontsize(2.2);
      color: $white_brack;
      position: absolute;
      left: 83px;
      top: 16px;
    }
    .favorite {
      @include fontsize(2.3);
      color: $white_brack;
      position: absolute;
      right: 83px;
      top: 15px;
      font-weight: 700;
      &:hover {
        color: $yellow;
      }
    }
    .viewers {
      color: $white_brack;
      position: absolute;
      right: 43px;
      top: 0;
      i {
        @include fontsize(2.2);
      }
      .number {
        vertical-align: super;
        font-family: 'Helvetica neue',Helvetica,Arial,sans-serif;
        color:$white_brack;
      }
      &:hover {
        color: $link_green;
      }
    }
    .option {
      @include fontsize(2.8);
      color: $white_brack;
      position: absolute;
      right: 7px;
      top: 13px;
      &:hover {
        color: $link_green;
      }
    }
    .option_box {
      height: auto;
      left: 190px;
      top: 45px;
      z-index: 1000;
    }
    .small-button {
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      cursor: pointer;
      -webkit-box-shadow: inset 0 0 0 1px #cbcbcb;
      box-shadow: inset 0 0 0 1px #cbcbcb;
      padding: 0 15px;
      display: inline-block;
      font-size: 14px;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      line-height: 35px;
      font-family: BrandonText-Medium, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
      font-weight: normal;
      font-style: normal;
      -webkit-border-radius: 4px;
      border-radius: 4px;
      color: #7d7d7d;
      position: absolute;
      top: 10px;
      right: 10px;
      i{
        @include fontsize(2.4);
      }
    }
    .check_box {
      @extend .option_box;
      left: 50px;
    }
  }
  .page_menu_inner {
    overflow: hidden;
    width: 100%;
    .item {
      @include fontsize(1.2);
      position: relative;
      padding: 18px 10px 18px 20px;
      color: $brack;
      border-bottom: 1px solid $border_white_gray;
      .check {
        position: absolute;
        right: 14px;
        top: 0;
       	width: 0;
       	height: 0;
       	border-top: 20px solid $dark_red;
       	border-right: 8px solid $dark_red;
       	border-bottom: 7px solid #fff;
       	border-left: 8px solid $dark_red;
      }
      .title {
        @include fontsize(1.5);
        color: $dark_brack;
        font-weight: bold;
        margin-bottom: 10px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      a {
        &.unread {
          .title {
            color: $green;
            &:before {
              @include border_radius(3px);
              position: absolute;
              top: 30px;
              left: 9px;
              margin-top: -3px;
              z-index: 1000;
              content: "";
              width: 5px;
              height: 5px;
              background: $torio_green;
            }
          }
        }
      }
      &.file {
        ul {
          margin: 0;
          padding: 0;
          li {
            /*@include border_radius(2px);*/
            display: inline-block;
            height: 50px;
            overflow: hidden;
            /*border: 2px solid #fff;
            -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.07);
            -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.07);
            box-shadow: 0 1px 1px rgba(0,0,0,0.1);*/
            margin: 0 2.5px 0 0;
            position: relative;
            ._52d9{
              background-color: rgba(0, 0, 0, .4);
              bottom: 0;
              color: #fff;
              font-size: 15px;
              font-family: 'Helvetica neue',Helvetica,Arial,sans-serif;
              font-weight: bold;
              left: 0;
              position: absolute;
              right: 0;
              top: 0;
              ._52da{
                display: table;
                height: 100%;
                width: 100%;
                ._52db{
                  display: table-cell;
                  text-align: center;
                  vertical-align: middle;
                }
              }
            }
            img {
              width: 50px;
              height: 50px;
              vertical-align: middle;
            }
          }
        }
      }
      &.note {
        height: 120px;
        .text {
          height: 50px;
          line-height: 1.5;
          overflow: hidden;
          text-overflow: ellipsis;
          &::after {
            content: "…";
          }
        }
      }
      &.task {
        ul {
          margin-right: 55px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          li {
            margin-bottom: 2px;
            width: 100%;
            .name {
              float: left;
              display: block;
              text-align: left;
              width: 30%;
            }
            .value {
              display: block;
              text-align: right;
              width: 70%;
            }
          }
        }
        .graph {
          position: absolute;
          right: 13px;
          bottom: 20px;
          height: 50px;
          font-family: 'Helvetica neue',Helvetica,Arial,sans-serif;
          &.green {
            .number {
              p {
                color: $green;
              }
            }
          }
          &.yellow {
            .number {
              p {
                color: $yellow;
              }
            }
          }
          &.red {
            .number {
              p {
                color: $red;
              }
            }
          }
          .number {
            position: absolute;
            right: 0;
            top: 0;
            width: 50px;
            text-align: center;
            line-height: 50px;
            p {
              display: none;
              &:first-child {
                display: block;
              }
            }
          }
        }
      }
    }
  }
  .page_menu_footer {
    @include fontsize(4.0);
    color: $torio_green;
    display: block;
    z-index: 1000;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 48px;
    height: 55px;
    /*border-top: 1px solid $border_gray;*/
    -webkit-box-shadow: 0 -1px 2px rgba(0,0,0,0.15),inset 0 1px 0 rgba(255,255,255,0.5);
    box-shadow: 0 -1px 2px rgba(0,0,0,0.15),inset 0 1px 0 rgba(255,255,255,0.5);
    background: #fff;
    text-align: center;
    padding-top: 6px;
    .add_page {
      left: 105px;
      top: -118px;
      padding-top: 10px;
      ul {
        text-align: left;
        li {
          @include fontsize(1.4);
          line-height: 38px;
          position: relative;
          &.add_page_note {
            a {
              i {
                color: $yellow;
              }
              &:hover {
                i {
                  color: white;
                }
              }
            }
          }
          &.add_page_task {
            @extend .add_page_note;
            a {
              i {
                color: $blue;
              }
            }
          }
          &.add_page_file {
            @extend .add_page_note;
            a {
              i {
                color: $red;
              }
            }
          }
          a {
            padding: 0 20px 0 45px;
            display: block;
            height: 35px;
            i {
              &:before {
                @include fontsize(2.6);
                position: absolute;
                top: 6px;
                left: 15px;
              }
            }
            &:hover {
              background: $torio_green;
              color: white;
            }
          }
        }
      }
    }
  }
}

/*detail*/
.detail {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  background: $white_gray;
  width: 100%;
  height: 100%;
  &.ui-widget-content {
    border: none;
  }
  .title {
    position: relative;
    margin: 30px 30px 30px 30px;
    h1 {
      @include fontsize(2.2);
      margin: 0 0 0 0;
      font-weight: bold;
      display: inline-block;
      line-height: 28px;
    }
    p {
      @include fontsize(2.8);
      line-height: 28px;
      position: absolute;
      color: $white_brack;
      top: 0;
      &:hover {
        color: $link_green;
        cursor: pointer;
      }
      &.check {
        position: static;
        display: inline-block;
      }
      &.bookmark {
        right: 100px;
        .icon-bookmark-outline {
          display: block;
        }
        .icon-bookmark {
          display: none;
        }
        &.active {
          .icon-bookmark-outline {
            display: none;
          }
          .icon-bookmark {
            color: $dark_red;
            display: block;
          }
        }
      }
      &.website {
        right: 50px;
      }
      &.option {
        right: 0;
      }
    }
    .detail_option_box {
      left: 75%;
      top: 36px;
    }
  }
}

/*---------------------------------------------------------------------------------------
 Modal
---------------------------------------------------------------------------------------*/
.modal {
  .modal-dialog {
    .modal-content {
      @include border_radius();
      -webkit-box-shadow: 0 0 17px rgba(0,0,0,.3);
      box-shadow: 0 0 17px rgba(0,0,0,.3);
      border: none;
      .modal-header {
        border-bottom: 1px solid $border_white_gray;
        background: #fff;
        .modal-title {
          @include fontsize(1.4);
          font-weight: bold;
        }
        .close {
          margin-top: -8px;
        }
      }
      .modal-body {
        background: $white_gray;
      }
      .modal-footer {
        border-top: 1px solid $border_white_gray;
        padding: 20px;
        textarea {
          @include border_radius();
          width: 100%;
          height: 60px;
          padding: 10px 15px;
          margin-bottom: 20px;
          border: 1px solid $border_white_gray;
          resize: none;
          outline: none;
        }
        button {
          width: 130px;
          &.btn-default {
            border-color: $border_white_gray;
            background: $white_gray;
            &:hover {
              opacity: 0.7;
            }
          }
          &.btn-primary {
            border-color: $dark_green;
            background: $icon_green;
            &:hover {
              opacity: 0.7;
            }
          }
        }
      }
    }
  }
}
#viewers_box {
	div {
		@include clearfix;
		.viewers_list {
			overflow: hidden;
			height: auto;
			dl {
				@include border_radius(6px);
				display: table;
				table-layout: fixed;
				float: left;
				padding: 0 14px;
				border: 1px solid #fff;
				width: 280px;
				&:hover {
					background: $white_gray;
					border: 1px solid $border_white_gray;
				}
				dt {
					display: table-cell;
					vertical-align: middle;
					width: 54px;
					img {
						@include border_radius(20px);
						width: 40px;
						height: auto;
					}
					.noimage {
						height: 40px;
						width: 40px;
						line-height: 38px;
					}
				}
				dd {
					@include fontsize(1.3);
					display: table-cell;
					.name {
						font-weight: bold;
						a {
							margin-top: 5px;
							color: $link_green;
							display: block;
						}
					}
				}
			}
		}
	}
}
