/*---------------------------------------------------------------------------------------
 File
---------------------------------------------------------------------------------------*/
.file {
  position: relative;
  #masonry {
    margin: 0 auto;
  }
  .file_list {
    &.row {
      margin: 0 15px;
      .col-lg-3 {
        width: 250px;
        padding-right: 10px;
        padding-left: 10px;
      }
    }
    .panel {
      border: none;
      @include border_radius(2px);
      /*-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
      box-shadow: 0 1px 1px rgba(0,0,0,.05);
      border: 1px solid $border_gray;*/
      border: 1px solid #ededf0;
      border-bottom: 1px solid #dcdce0;
      box-shadow: none;
      .panel-body {
        padding: 0;
        &.type_image {
          .file_img {
            position: relative;
            img {
              -webkit-border-top-left-radius: 2px;
              -webkit-border-top-right-radius: 2px;
              -moz-border-radius-topleft: 2px;
              -moz-border-radius-topright: 2px;
              width: 100%;
              height: auto;
              z-index: 1;
            }
            .url {
              @include fontsize(1.2);
              font-weight: bold;
              position: absolute;
              bottom: 0;
              left: 0;
              line-height: 35px;
              color: #fff;
              width: 100%;
              display: block;
              padding: 0 10px 0 35px;
              overflow: hidden;
              background: -moz-linear-gradient(top,rgba(240,240,240,0.0),rgba(24,24,24,0.4));
              background: -o-linear-gradient(rgba(240,240,240,0.0),rgba(24,24,24,0.0));
              background: -webkit-gradient(linear,left top,left bottom,from(rgba(240,240,240,0.0)),to(rgba(24,24,24,0.4)));
              background: linear-gradient(top,rgba(240,240,240,0.0),rgba(24,24,24,0.0));
              z-index: 100;
              i {
                position: absolute;
                bottom: 5px;
                left: 8px;
                @include fontsize(2.4);
              }
            }
          }
        }
        &.type_file {
          .excel {
            @include fontsize(8.0);
            -webkit-border-top-left-radius: 2px;
            -webkit-border-top-right-radius: 2px;
            -moz-border-radius-topleft: 2px;
            -moz-border-radius-topright: 2px;
            color: #39865a;
            text-align: center;
            width: 100%;
            padding: 20% 0;
            background: #33c16f;
          }
        }
        .file_name {
          @include fontsize(1.2);
          padding: 15px 15px 10px 15px;
          font-weight: bold;
        }
        .count {
          @include fontsize(1.0);
          color: $white_brack;
          padding: 0 15px;
        }
        .info {
          position: relative;
          border-top: 1px solid $border_white_gray;
          margin-top: 15px;
          padding: 10px 15px;
          height: 43px;
          p {
            @include fontsize(2.3);
            color: $white_brack;
            display: inline-block;
            margin: 0 2% 0 0;
            &:hover {
              color: $link_green;
              cursor: pointer;
            }
            &.like {
              .icon-favorite-outline {
                display: block;
              }
              .icon-favorite {
                display: none;
              }
              &.active {
                .icon-favorite-outline {
                  display: none;
                }
                .icon-favorite {
                  color: $dark_red;
                  display: block;
                }
              }
            }
          }
          .user_image {
            position: absolute;
            right: 15px;
            top: 10px;
            img {
              height: 20px;
              width: 20px;
            }
          }
        }
      }
    }
  }
  .add_file {
    @include border_radius(100px);
    @include fontsize(4.5);
    color: #fff;
    position: fixed;
    bottom: 30px;
    right: 30px;
    height: 45px;
    width: 45px;
    background: $torio_green;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);
  }
}
