/*---------------------------------------------------------------------------------------
 File
---------------------------------------------------------------------------------------*/
.file {
  position: relative;
  #masonry {
    margin: 0 auto;
  }
  .file_list {
    &.row {
      margin: 0 15px;
      .col-lg-3 {
        width: 250px;
        padding-right: 10px;
        padding-left: 10px;
      }
    }
    .panel {
      border: none;
      @include border_radius(2px);
      /*-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
      box-shadow: 0 1px 1px rgba(0,0,0,.05);
      border: 1px solid $border_gray;*/
      border: 1px solid #ededf0;
      border-bottom: 1px solid #dcdce0;
      box-shadow: none;
      .panel-body {
        padding: 0;
        &.type_image {
          .file_img {
            position: relative;
            cursor: pointer;
            &:before{
              background:url(#{$img_path}bg_shadow.png) repeat-x left bottom;
              bottom: 0;
              content: '';
              left: 0;
              position: absolute;
              right: 0;
              top: 0;
              z-index: 1;
            }
            img {
              -webkit-border-top-left-radius: 2px;
              -webkit-border-top-right-radius: 2px;
              -moz-border-radius-topleft: 2px;
              -moz-border-radius-topright: 2px;
              width: 100%;
              height: auto;
              z-index: 1;
            }
            .url {
              @include fontsize(1.2);
              font-weight: bold;
              position: absolute;
              bottom: 0;
              left: 0;
              line-height: 35px;
              color: #fff;
              text-shadow: 0 0 3px rgba(0, 0, 0, .75);
              width: 100%;
              display: block;
              padding: 0 10px 0 35px;
              overflow: hidden;
              /*background: -moz-linear-gradient(top,rgba(240,240,240,0.0),rgba(24,24,24,0.4));
              background: -o-linear-gradient(rgba(240,240,240,0.0),rgba(24,24,24,0.0));
              background: -webkit-gradient(linear,left top,left bottom,from(rgba(240,240,240,0.0)),to(rgba(24,24,24,0.4)));
              background: linear-gradient(top,rgba(240,240,240,0.0),rgba(24,24,24,0.0));*/
              z-index: 100;
              i {
                position: absolute;
                bottom: 5px;
                left: 8px;
                @include fontsize(2.4);
              }
              a{
                color: #ffffff;
              }
            }
          }
        }
        &.type_file {
          cursor: pointer;
          .excel {
            @include fontsize(8.0);
            -webkit-border-top-left-radius: 2px;
            -webkit-border-top-right-radius: 2px;
            -moz-border-radius-topleft: 2px;
            -moz-border-radius-topright: 2px;
            color: #39865a;
            text-align: center;
            width: 100%;
            padding: 20% 0;
            background: #33c16f;
          }
        }
        .file_name {
          @include fontsize(1.4);
          padding: 15px 15px 10px 15px;
          font-weight: bold;
          line-height: 1.5;
          cursor: pointer;
        }
        .count {
          @include fontsize(1.2);
          color: $white_brack;
          padding: 0 15px;
          a{
           color: $white_brack;
          }
        }
        .info {
          position: relative;
          border-top: 1px solid $border_white_gray;
          margin-top: 15px;
          padding: 10px 15px;
          height: 43px;
          p {
            @include fontsize(2.3);
            color: $white_brack;
            display: inline-block;
            margin: 0 2% 0 0;
            &:hover {
              color: $torio_green;
              cursor: pointer;
            }
            &.like {
              .icon-favorite-outline {
                display: block;
              }
              .icon-favorite {
                display: none;
              }
              &.active {
                .icon-favorite-outline {
                  display: none;
                }
                .icon-favorite {
                  color: $dark_red;
                  display: block;
                }
              }
            }
          }
          .user_image {
            position: absolute;
            right: 7px;
            top: 9px;
            img {
              height: 25px;
              width: 25px;
            }
            .noimage {
              @include font_eng;
              @include fontsize(1.0);
              line-height: 25px;
              text-align: center;
              margin-left: 25px;
              width: 25px;
            }
          }
        }
      }
    }
  }
  .add_file_btn {
    @include border_radius(100px);
    @include fontsize(4.5);
    color: #fff;
    position: fixed;
    z-index: 1000;
    bottom: 30px;
    right: 30px;
    height: 45px;
    width: 45px;
    /*background: $torio_green;*/
    background: #f36;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    &:hover {
      cursor: pointer;
    }
  }
}

/*---------------------------------------------------------------------------------------
 Modal
---------------------------------------------------------------------------------------*/
/*Add File*/
#add_file,#add_file2,#add_file3 {
  .modal-body {
    display: table;
    table-layout: fixed;
    width: 100%;
    padding: 30px 0;
    .local_up {
      @include fontsize(1.5);
      width: 50%;
      height: 200px;
      padding-top: 60px;
      display: table-cell;
      text-align: center;
      border-right: 1px solid $border_gray;
      a {
        color: $white_brack;
        display: block;
      }
      i {
        @include fontsize(4.0);
        @include border_radius(100px);
        color: $white_brack;
        border: 1px solid $white_brack;
        padding: 15px;
      }
      .title {
        margin-top: 25px;
        font-weight: bold;
        color: $white_brack;
      }
      .note {
        @include fontsize(1.2);
      }
      .field{
        /*@extend .clearfix;*/
        margin-top: 40px;
        input{
          @include border_radius(4);
          width: 430px;
          margin: 0 10px 30px 0;
          border: 1px solid $border_gray;
          background: #ffffff;
          resize: none;
          outline: none;
          padding: 0 13px;
          height: 40px;
        }
        button{
          width: 100px;
          height: 40px;
          line-height: 43px;
          @include fontsize(1.3);
          &.btn-primary {
            background: #f36;
            border: none;
            padding: 0;
            font-weight: 700;
            &:hover {
              opacity: 0.7;
            }
          }
        }
      }
    }
    .web_up {
      @extend .local_up;
      border-right: none;
      .image{
        text-align: center;
        margin: -60px 0 0 0;
        img{
          width: 80%;
        }
      }
    }
  }
  .modal-footer{
    .btn-primary{
      background: #f36;
    }
  }
}

#file_detail{
  .modal-dialog{
    min-width: 600px;
    width: 800px;
    margin: 60px auto;
  }
}

/*bx-wrapper*/
.bx-wrapper {
  position: relative;
  .bx-controls {
    .bx-pager {
      display: none;
    }
    .bx-controls-direction {
      font-family: 'torio_icon';
      .bx-prev {
        position: fixed;
        top: 350px;
        left: -100px;
        height: 60px;
        width: 60px;
        overflow: hidden;
        color: $brack;
        &:before {
          @include fontsize(6.0);
          content: "\e62d";
        }
      }
      .bx-next {
        position: fixed;
        top: 350px;
        right: -100px;
        height: 60px;
        width: 60px;
        overflow: hidden;
        color: $brack;
        &:before {
          @include fontsize(6.0);
          content: "\e62e";
        }
      }
    }
  }
  .bx-viewport {
    .file_slide {
      .item {
        width: 100% !important;
        .modal-header {
          @include border_radius();
          position: relative;
          padding: 30px 25px 25px;
          border-bottom: 1px solid $border_white_gray;
          @extend .clearfix;
          .user_image {
            float: left;
            margin-right: 8px;
            img {
              height: 40px;
              width: 40px;
            }
          }
          .noimage {
            @include font_eng;
            @include fontsize(1.2);
            line-height: 40px;
            text-align: center;
            width: 40px;
            float: left;
          }
          .modal-title {
            @include fontsize(1.6);
            font-weight: bold;
            padding: 10px 0 0 0;
          }
          .option {
            @include fontsize(1.3);
            position: absolute;
            top: 42px;
            right: 45px;
            color: $white_brack;
            i {
              position: absolute;
              @include fontsize(2.6);
              top: -3px;
              left: 0;
            }
            a {
              color: $white_brack;
              &:hover {
                color: $torio_green;
              }
            }
          }
          .download {
            @extend .option;
            padding-left: 27px;
            right: 60px;
          }
          .like {
            @extend .download;
            right: 180px;
            @include font_eng;
            i {
              color: $dark_red;
            }
          }
        }
        .image {
          text-align: center;
          background: $white_gray;
          img {
            width: 100%;
            height: auto;
          }
        }
        .link {
          position: relative;
          padding: 15px 0 15px 50px;
          @include fontsize(1.3);
          line-height: 2.1;
          display: block;
          border-top: 1px solid $border_white_gray;
          a {
            color: $white_brack;
            &:hover {
              color: $torio_green;
            }
            i {
              @include fontsize(2.6);
              position: absolute;
              top: 15px;
              left: 23px;
              color: $white_brack;
              &.icon-swap-horiz{
                color: $white_brack;
              }
            }
          }
        }
        .modal-footer {
          border-top: 1px solid $border_white_gray;
          padding: 35px 0 25px 0;
          position: relative;
          .comment {
            text-align: left;
            border-bottom: 1px solid $border_white_gray;
            margin-bottom: 25px;
            padding: 0 25px;
            .comment_inner {
              display: table;
              width: 100%;
              table-layout: fixed;
              margin-bottom: 25px;
              .user_image {
                display: table-cell;
                width: 50px;
                img {
                  width: 40px;
                  height: 40px;
                  vertical-align: top;
                  margin-top: 2px;
                }
                .noimage {
                  @include font_eng;
                  @include fontsize(1.2);
                  line-height: 40px;
                  text-align: center;
                  width: 40px;
                }
              }
              .user_comment {
                display: table-cell;
                vertical-align: top;
                p {
                  @include fontsize(1.4);
                  &.name {
                    font-weight: bold;
                    padding-bottom: 1px;
                    .time {
                      margin-left: 10px;
                      font-weight: normal;
                      color: $white_brack;
                      @include fontsize(1.2);
                    }
                  }
                  &.memo {
                    @include fontsize(1.4);
                    word-wrap: break-word;
                    color: #000000;
                  }
                }
              }
            }
          }
          .comment_entry{
            width: 750px;
            min-width: 510px;
            margin: 0 auto;
            textarea {
              @include border_radius();
              width: 100%;
              height: 60px;
              padding: 10px 15px;
              margin-bottom: 20px;
              border: 1px solid $border_gray;
              resize: none;
              outline: none;
            }
            button {
              width: 130px;
              &.btn-default {
                border-color: $border_white_gray;
                background: $white_gray;
                &:hover {
                  opacity: 0.7;
                }
              }
              &.btn-primary {
                width: 130px;
                height: 40px;
                line-height: 43px;
                @include fontsize(1.3);
                &.btn-primary {
                  background: $torio_green;
                  border: none;
                  padding: 0;
                  font-weight: 700;
                  &:hover {
                    opacity: 0.7;
                  }
                }
              }
            }
          }
        }
        .add_member {
          @include fontsize(2.6);
          color: $white_brack;
          position: absolute;
          right: 216px;
          bottom: 24px;
        }
        .add_emoji {
          @include fontsize(2.6);
          color: $white_brack;
          position: absolute;
          right: 170px;
          bottom: 24px;
        }
      }
    }
  }
}

/*Carousel*/
.carousel {
  margin: 30px auto;
  width: 840px;
  position: relative;
  .carousel-inner {
    width: 700px;
    margin: 0 auto;
    .image {
      background: $white_gray;
      text-align: center;
      img {
        width: 80%;
        height: auto;
      }
    }
    .item {
      @include border_radius();
      background: #fff;
      -webkit-box-shadow: 0 0 17px rgba(0,0,0,.3);
      box-shadow: 0 0 17px rgba(0,0,0,.3);
      .modal-header {
        position: relative;
        .user_image {
          float: left;
          margin-right: 15px;
          img {
            height: 40px;
            width: 40px;
          }
        }
        .modal-title {
          @include fontsize(1.4);
          font-weight: bold;
        }
        .link {
          position: relative;
          padding-left: 75px;
          a {
            color: $white_brack;
            &:hover {
              color: $torio_green;
            }
          }
          i {
            @include fontsize(2.6);
            position: absolute;
            top: 0;
            left: 50px;
          }
        }
        .option {
          @include fontsize(1.3);
          position: absolute;
          top: 25px;
          right: 36px;
          color: $white_brack;
          i {
            position: absolute;
            @include fontsize(2.6);
            top: -3px;
            left: 0;
          }
          a {
            color: $white_brack;
            &:hover {
              color: $torio_green;
            }
          }
        }
        .download {
          @extend .option;
          padding-left: 27px;
          right: 45px;
        }
        .like {
          @extend .download;
          right: 160px;
          i {
            color: $dark_red;
          }
        }
      }
    }
    .modal-footer {
      border-top: 1px solid $border_white_gray;
      padding: 20px;
      position: relative;
      .comment {
        text-align: left;
        border-bottom: 1px solid $border_white_gray;
        margin-bottom: 20px;
        .comment_inner {
          display: table;
          width: 100%;
          table-layout: fixed;
          margin-bottom: 20px;
          .user_image {
            display: table-cell;
            width: 45px;
            img {
              width: 30px;
              height: 30px;
              vertical-align: top;
              margin-top: 5px;
            }
          }
          .user_comment {
            display: table-cell;
            p {
              @include fontsize(1.3);
              &.name {
                font-weight: bold;
                .time {
                  margin-left: 10px;
                  font-weight: normal;
                  color: $white_brack;
                }
              }
              &.memo {
              }
            }
          }
        }
      }
      textarea {
        @include border_radius();
        width: 100%;
        height: 60px;
        padding: 10px 15px;
        margin-bottom: 20px;
        border: 1px solid $border_white_gray;
        resize: none;
        outline: none;
      }
      button {
        width: 130px;
        &.btn-default {
          border-color: $border_white_gray;
          background: $white_gray;
          &:hover {
            opacity: 0.7;
          }
        }
        &.btn-primary {
          border-color: $dark_green;
          background: $icon_green;
          &:hover {
            opacity: 0.7;
          }
        }
      }
    }
    .add_member {
      @include fontsize(2.6);
      color: $white_brack;
      position: absolute;
      right: 216px;
      bottom: 24px;
    }
    .add_emoji {
      @include fontsize(2.6);
      color: $white_brack;
      position: absolute;
      right: 170px;
      bottom: 24px;
    }
  }
  /*Carousel Control*/
  .carousel-control {
    width: 60px;
    background: none;
    &.left {
      i {
        left: 20%;
      }
    }
    &.right {
      i {
        right: 20%;
      }
    }
    i {
      @include fontsize(6.0);
      color: $dark_brack;
      text-shadow: none;
      position: fixed;
      top: 300px;
    }
  }
}
