/*---------------------------------------------------------------------------------------
 File
---------------------------------------------------------------------------------------*/
.file {
  position: relative;
  #masonry {
    margin: 0 auto;
  }
  .file_list {
    &.row {
      margin: 0 15px;
      .col-lg-3 {
        width: 250px;
        padding-right: 10px;
        padding-left: 10px;
      }
    }
    .panel {
      border: none;
      .panel-body {
        padding: 0;
        &.type_image {
          .file_img {
            position: relative;
            img {
              -webkit-border-top-left-radius: 4px;
              -webkit-border-top-right-radius: 4px;
              -moz-border-radius-topleft: 4px;
              -moz-border-radius-topright: 4px;
              width: 100%;
              height: auto;
              z-index: 1;
            }
            .url {
              @include fontsize(1.2);
              font-weight: bold;
              position: absolute;
              bottom: 0;
              left: 0;
              line-height: 35px;
              color: #fff;
              width: 100%;
              display: block;
              padding: 0 10px 0 35px;
              overflow: hidden;
              background: -moz-linear-gradient(top,rgba(240,240,240,0.0),rgba(24,24,24,0.4));
              background: -o-linear-gradient(rgba(240,240,240,0.0),rgba(24,24,24,0.0));
              background: -webkit-gradient(linear,left top,left bottom,from(rgba(240,240,240,0.0)),to(rgba(24,24,24,0.4)));
              background: linear-gradient(top,rgba(240,240,240,0.0),rgba(24,24,24,0.0));
              z-index: 100;
              i {
                position: absolute;
                bottom: 5px;
                left: 8px;
                @include fontsize(2.4);
              }
            }
          }
        }
        &.type_file {
          .excel {
            @include fontsize(8.0);
            -webkit-border-top-left-radius: 4px;
            -webkit-border-top-right-radius: 4px;
            -moz-border-radius-topleft: 4px;
            -moz-border-radius-topright: 4px;
            color: #39865a;
            text-align: center;
            width: 100%;
            padding: 20% 0;
            background: #33c16f;
          }
        }
        .file_name {
          @include fontsize(1.2);
          padding: 15px 15px 10px 15px;
          font-weight: bold;
        }
        .count {
          @include fontsize(1.0);
          color: $white_brack;
          padding: 0 15px;
        }
        .info {
          position: relative;
          border-top: 1px solid $border_white_gray;
          margin-top: 15px;
          padding: 10px 15px;
          height: 43px;
          p {
            @include fontsize(2.3);
            color: $white_brack;
            display: inline-block;
            margin: 0 2% 0 0;
            &:hover {
              color: $link_green;
              cursor: pointer;
            }
            &.like {
              .icon-favorite-outline {
                display: block;
              }
              .icon-favorite {
                display: none;
              }
              &.active {
                .icon-favorite-outline {
                  display: none;
                }
                .icon-favorite {
                  color: $dark_red;
                  display: block;
                }
              }
            }
          }
          .user_image {
            position: absolute;
            right: 15px;
            top: 10px;
            img {
              height: 20px;
              width: 20px;
            }
          }
        }
      }
    }
  }
  .add_file_btn {
    @include border_radius(100px);
    @include fontsize(5.0);
    color: #fff;
    position: fixed;
    bottom: 30px;
    right: 30px;
    height: 50px;
    width: 50px;
    background: $torio_green;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    &:hover {
      cursor: pointer;
    }
  }
}
/*---------------------------------------------------------------------------------------
 Modal
---------------------------------------------------------------------------------------*/

/*Add File*/
#add_file {
  .modal-body {
    display: table;
    table-layout: fixed;
    width: 100%;
    .local_up {
      @include fontsize(1.4);
      width: 50%;
      height: 200px;
      padding-top: 50px;
      display: table-cell;
      text-align: center;
      border-right: 1px solid $border_white_gray;
      a {
        color: $white_brack;
        display: block;
      }
      i {
        @include fontsize(5.0);
        @include border_radius(100px);
        height: 70px;
        width: 70px;
        color: $white_brack;
        border: 2px solid $white_brack;
        padding: 8px;
      }
      .title {
        margin-top: 20px;
        font-weight: bold;
      }
      .note {
        @include fontsize(1.2);
      }
    }
    .web_up {
      @extend .local_up;
      border-right: none;
    }
  }
}

/*Carousel*/
.carousel {
  margin: 30px auto;
  width: 760px;
  position: relative;
  .carousel-inner {
    @include border_radius();
    background: #fff;
    -webkit-box-shadow: 0 0 17px rgba(0,0,0,.3);
    box-shadow: 0 0 17px rgba(0,0,0,.3);
    margin: 30px auto;
    width: 600px;
    .image {
      background: $white_gray;
      text-align: center;
      img {
        width: 80%;
        height: auto;
      }
    }
    .item {
      .modal-header {
        .user_image {
          float: left;
          margin-right: 15px;
          img {
            height: 40px;
            width: 40px;
          }
        }
        .modal-title {
          @include fontsize(1.4);
          font-weight: bold;
        }
        .link {
          position: relative;
          padding-left: 75px;
          a {
            color: $white_brack;
          }
          i {
            @include fontsize(2.6);
            position: absolute;
            top: 0;
            left: 50px;
          }
        }
      }
    }
    .modal-footer {
      border-top: 1px solid $border_white_gray;
      padding: 20px;
      textarea {
        @include border_radius();
        width: 100%;
        height: 60px;
        padding: 10px 15px;
        margin-bottom: 20px;
        border: 1px solid $border_white_gray;
        resize: none;
        outline: none;
      }
      button {
        width: 130px;
        &.btn-default {
          border-color: $border_white_gray;
          background: $white_gray;
          &:hover {
            opacity: 0.7;
          }
        }
        &.btn-primary {
          border-color: $dark_green;
          background: $icon_green;
          &:hover {
            opacity: 0.7;
          }
        }
      }
    }
  }
  .carousel-control {
    width: 60px;
    background: none;
    &.left {
      i {
        left: 25%;
      }
    }
    &.right {
      i {
        right: 25%;
      }
    }
    i {
      @include fontsize(6.0);
      color: $dark_brack;
      text-shadow: none;
      position: fixed;
      top: 300px;
    }
  }
}
