/*---------------------------------------------------------------------------------------
 mixin
---------------------------------------------------------------------------------------*/

/*TORIO Color*/
$green: #2e6b95;
$link_green: #50bcb6;
$white_green: #e0f2f2;
$dark_green: #339999;
$red: #ed6d44;
$white_red: #ffebe7;
$dark_red: #ff3366;
$yellow: #feb22e;
$white_yellow: #f9f0e1;
$dark_yellow: #ff9933;
$blue: #3595e1;
$dark_blue: #337ab7;
$white_blue: #1fa6ea;
$border_dark_gray: #cbcbcb;
$border_gray: #eeeeee;
$border_white_gray: #f5f5f5;
$dark_gray: #e9e9e9;
$white_gray: #f9f9f9;
$icon_white_gray: #aeaeae;
$icon_dark_gray: #7f7f7f;
$icon_green: #50bcb6;
$dark_brack: #333333;
$brack: #555555;
$white_brack: #999999;

/*TORIO Service Color*/
$torio_green: #3A87BC;
$torio_red: #f42156;
$torio_yellow: #feb22e;

$img_path: "../images/";
@font-face {
  font-family: torio_icon;
  src: url(../font/torio_icon.ttf) format("ttf");
}
@mixin font-smoothing($value: on) {
  @if $value == on {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  @else {
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
  }
}
/*角丸*/
@mixin border_radius($value: 4px) {
    -webkit-border-radius: $value;
       -moz-border-radius: $value;
        -ms-border-radius: $value;
            border-radius: $value;
}
@mixin filter($value: 100%) {
  -webkit-filter: saturate($value);
  filter:saturate($value);
}
/*Font size*/
@mixin fontsize($fontsize) {
     font-size: $fontsize * 10px;
     font-size: $fontsize+rem;
}
/*透明度*/
@mixin opacity($opacity) {
     opacity: $opacity;
     $opacityIE: $opacity * 100;
     filter: alpha(opacity=$opacityIE);
}
/*透明度*/
@mixin easeout {
  -webkit-transition: opacity 0.5s ease-out;
  -moz-transition: opacity 0.5s ease-out;
  -ms-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
}
/*clearfix*/
@mixin clearfix {
  *zoom:1;
  &:after{
    content: ".";
    display: block;
    clear: both;
    height: 0;
    visibility:hidden;
  }
}
@mixin font_eng {
  font-family: 'Lato','Helvetica neue',Helvetica,Arial,sans-serif;
}

/*balloon*/
@mixin balloon {
  @include border_radius();
  @include fontsize(1.1);
  font-weight: bold;
 	position: relative;
 	display: inline-block;
 	padding: 2px 10px 0px 10px;
 	width: auto;
 	min-width: 100px;
 	height: 30px;
 	color: #fff;
 	line-height: 30px;
 	text-align: center;
 	background: #242424;
 	z-index: 0;
  &:after {
  	content: "";
  	position: absolute;
  	bottom: -6px;
   left: 50%;
  	margin-left: -6px;
  	display: block;
  	width: 0px;
  	height: 0px;
  	border-style: solid;
  	border-width: 6px 6px 0;
  	border-color: #242424 transparent transparent transparent;
  }
}

@mixin balloon_under {
  @include border_radius();
  @include fontsize(1.1);
  font-weight: bold;
 	position: relative;
 	display: inline-block;
 	padding: 2px 10px 0px 10px;
 	width: auto;
 	min-width: 100px;
 	height: 30px;
 	color: #fff;
 	line-height: 26px;
 	text-align: center;
 	background: #242424;
 	z-index: 0;
  &:before {
  	content: "";
  	position: absolute;
  	top: -6px;
   left: 50%;
  	margin-left: -6px;
  	display: block;
  	width: 0px;
  	height: 0px;
  	border-style: solid;
  	border-width: 0 6px 6px 6px;
  	border-color: transparent transparent #242424 transparent;
  }
}

@mixin balloon_left {
  @include border_radius();
  @include fontsize(1.1);
  font-weight: bold;
 	position: relative;
 	display: inline-block;
 	padding: 2px 10px 0px 10px;
 	width: auto;
 	min-width: 100px;
 	height: 30px;
 	color: #fff;
 	line-height: 26px;
 	text-align: center;
 	background: #242424;
 	z-index: 0;
  &:before {
  	content: "";
  	position: absolute;
  	top: 50%;
  	left: -6px;
  	margin-top: -6px;
  	display: block;
  	width: 0px;
  	height: 0px;
  	border-style: solid;
  	border-width: 6px 6px 6px 0;
  	border-color: transparent #242424 transparent transparent;
  }
}
