/*---------------------------------------------------------------------------------------
 Note
---------------------------------------------------------------------------------------*/
.note {
  position: relative;
  #title_edit {
    @include fontsize(2.2);
    line-height: 28px;
    font-weight: bold;
    width: auto;
  }
  .note_edit {
    @include border_radius();
    position: relative;
    margin: 30px;
    padding: 20px;
    background: #fff;
    /*-webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.06);
    box-shadow: 0 2px 5px rgba(0,0,0,0.06);
    border: 1px solid #e3e3e3;*/
    border: 1px solid #ededf0;
    border-bottom: 1px solid #dcdce0;
    box-shadow: none;
    a {
      color: $green;
    }
    .edit_name {
      font-weight: bold;
      .user_image {
        float: left;
        margin-right: 12px;
        img {
          width: 40px;
          height:40px;
        }
      }
      .writer_info {
        @include fontsize(1.2);
        color: $white_brack;
      }
      .note_option {
        @include fontsize(2.6);
        position: absolute;
        right: 15px;
        top: 28px;
        color: $white_brack;
      }
      .note_detail_option_box {
        right: 15px;
        top: 20px;
      }
    }
    .btn_add_task {
      bottom: 10px;
    }
    .counter {
      @include fontsize(1.1);
      position: absolute;
      right: 110px;
      bottom: 15px;
      color: $white_brack;
    }
  }
}

/*---------------------------------------------------------------------------------------
 Editable
---------------------------------------------------------------------------------------*/
.editable {
  padding: 30px 50px;
  h1 {
    @include fontsize(2.0);
    font-weight: bold;
    margin: 0 0 40px 0;
  }
  p {
    margin: 0 0 30px 0;
    line-height: 1.8;
  }
  hr {
    width: 100px;
    margin: 30px auto;
  }
  blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 17.5px;
    border-left: 4px solid $dark_yellow;
  }
  ol {
    padding-left: 20px;
    margin-bottom: 30px;
  }
  ul {
    padding-left: 20px;
    margin-bottom: 30px;
    li {
      list-style: disc;
    }
  }
  pre {
    @include border_radius(0);
    padding: 10px 20px;
    display: block;
    margin: 0 0 10px;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: $white_gray;
    border: none;
  }
  figure {
    margin: 30px 0;
  }
  small {
    margin: 10px 0;
    display: block;
  }
}
