/*---------------------------------------------------------------------------------------
 Note
---------------------------------------------------------------------------------------*/
.note {
  position: relative;
  .note_edit {
    @include border_radius();
    margin: 30px;
    padding: 20px;
    background: #fff;
    /*-webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.06);
    box-shadow: 0 2px 5px rgba(0,0,0,0.06);
    border: 1px solid #e3e3e3;*/
    border: 1px solid #ededf0;
    border-bottom: 1px solid #dcdce0;
    box-shadow: none;
  }
}
