/*---------------------------------------------------------------------------------------
 Note
---------------------------------------------------------------------------------------*/
.note {
  position: relative;
  #title_edit {
    @include fontsize(2.2);
    line-height: 28px;
    font-weight: bold;
    width: auto;
  }
  .note_edit {
    padding-bottom: 30px;
    a {
      color: $green;
    }
    .note_edit_inner {
      @include border_radius();
      position: relative;
      margin: 0 30px 0 30px;
      background: #fff;
      /*-webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.06);
      box-shadow: 0 2px 5px rgba(0,0,0,0.06);
      border: 1px solid #e3e3e3;*/
      border: 1px solid #ededf0;
      border-bottom: 1px solid #dcdce0;
      box-shadow: none;
      position: relative;
      .edit_name {
        position: relative;
        font-weight: bold;
        padding: 25px 20px 0px 20px;
        .noimage {
          height: 40px;
          width: 40px;
          line-height: 40px;
          float: left;
          margin-right: 12px;
          @include fontsize(1.2);
        }
        .user_image {
          float: left;
          margin-right: 12px;
          img {
            width: 40px;
            height:40px;
          }
        }
        .writer_info {
          @include fontsize(1.2);
          font-weight: normal;
          color: $white_brack;
        }
        .note_option {
          @include fontsize(2.6);
          position: absolute;
          right: 15px;
          top: 28px;
          color: $white_brack;
        }
        .note_detail_option_box {
          right: 15px;
          top: 60px;
        }
      }
      .btn_add_task {
        bottom: 10px;
      }
      .like_comment_box {
        position: absolute;
        left: 20px;
        bottom: 20px;
        .like_btn {
          float: left;
          margin-right: 10px;
          padding-top: 10px;
          i {
            color: $white_brack;
            @include fontsize(2.3);
            &.icon-favorite-outline {
              display: block;
            }
            &.icon-favorite {
              display: none;
            }
          }
          &.active {
            i {
              &.icon-favorite-outline {
                display: none;
              }
              &.icon-favorite {
                color: $dark_red;
                display: block;
              }
            }
          }
        }
        .comment_btn {
          float: left;
          margin-right: 10px;
          padding-top: 10px;
          i {
            @include fontsize(2.3);
            color: $white_brack;
          }
        }
        .like_count {
          @include fontsize(1.2);
          position: relative;
          float: left;
          color: $white_brack;
          padding-top: 10px;
          line-height: 25px;
          margin-right: 10px;
          &:hover {
            .balloon_box {
              display: block;
              height: auto;
              bottom: 28px;
              left: 0;
              text-align: left;
              padding: 10px 10px;
              ul {
                margin-bottom: 0;
                li {
                  line-height: 1.9;
                }
              }
            }
          }
        }
        .comment_count {
          @extend .like_count;
        }
      }
      .browse_count {
        @include fontsize(1.1);
        line-height: 23px;
        color: $white_brack;
        padding-top: 10px;
        position: absolute;
        right: 15px;
        bottom: 8px;
        vertical-align: top;
        i {
          @include fontsize(2.3);
          margin-right: 5px;
        }
        &:hover {
          .balloon_box {
            display: block;
            height: auto;
            width: 100%;
            bottom: 30px;
            left: 0;
            text-align: left;
            padding: 10px 10px;
            ul {
              margin-bottom: 0;
              li {
                line-height: 1.9;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                span {
                  &:hover {
                    cursor: pointer;
                  }
                }
              }
            }
          }
        }
      }
      .counter {
        @include fontsize(1.1);
        position: absolute;
        right: 130px;
        bottom: 15px;
        color: $white_brack;
      }
      .editing {
        @include border_radius(4px 4px 0 0);
        position: relative;
        background: $green;
        color: #fff;
        text-align: center;
        height: 40px;
        p {
          line-height: 30px;
          display: inline-block;
        }
      }
    }
    .note_comment {
      @include border_radius(0 0 5px 5px);
      display: none;
      background: $white_gray;
      text-align: left;
      border-bottom: 1px solid $border_white_gray;
      padding: 20px 20px 20px 20px;
      .comment_inner {
        display: table;
        width: 100%;
        table-layout: fixed;
        margin-bottom: 20px;
        .user_image {
          display: table-cell;
          width: 40px;
          img {
            width: 30px;
            height: 30px;
            vertical-align: top;
            margin-top: 2px;
          }
          .noimage {
            @include font_eng;
            @include fontsize(1.1);
            line-height: 30px;
            text-align: center;
            width: 30px;
          }
        }
        .user_comment {
          display: table-cell;
          vertical-align: top;
          p {
            @include fontsize(1.4);
            &.name {
              font-weight: bold;
              padding-bottom: 1px;
              .time {
                margin-left: 10px;
                font-weight: normal;
                color: $white_brack;
                @include fontsize(1.2);
              }
            }
            &.memo {
              @include fontsize(1.4);
              word-wrap: break-word;
            }
          }
        }
      }
      .comment_entry {
        margin: 0 auto;
        padding: 20px 0;
        border-top: 1px solid $border_gray;
        textarea {
          @include border_radius();
          width: 100%;
          height: 60px;
          padding: 10px 15px;
          margin-bottom: 10px;
          border: 1px solid $border_gray;
          background: #fff;
          resize: none;
          outline: none;
        }
        button {
          float: right;
          width: 100px;
          height: 30px;
          &.btn-default {
            border-color: $border_white_gray;
            background: $white_gray;
            &:hover {
              opacity: 0.7;
            }
          }
          &.btn-primary {
            line-height: 30px;
            @include fontsize(1.3);
            &.btn-primary {
              background: $torio_green;
              border: none;
              padding: 0;
              font-weight: 700;
              &:hover {
                opacity: 0.7;
              }
            }
          }
        }
      }
    }
  }
}

/*---------------------------------------------------------------------------------------
 Editable
---------------------------------------------------------------------------------------*/
.editable {
  padding: 20px 70px 50px 70px;
  &:focus {
    outline: none;
  }
  h1 {
    @include fontsize(2.0);
    font-weight: bold;
    margin: 0 0 40px 0;
  }
  p {
    margin: 0 0 30px 0;
    line-height: 1.8;
  }
  hr {
    width: 100px;
    margin: 30px auto;
  }
  blockquote {
    @include fontsize(1.4);
    padding: 10px 20px;
    margin: 0 0 20px;
    border-left: 4px solid $dark_yellow;
  }
  ol {
    padding-left: 20px;
    margin-bottom: 30px;
  }
  ul {
    padding-left: 20px;
    margin-bottom: 30px;
    li {
      list-style: disc;
    }
  }
  pre {
    @include border_radius(0);
    padding: 10px 20px;
    display: block;
    margin: 0 0 10px;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: $white_gray;
    border: none;
  }
  figure {
    margin: 30px 0;
    img {
      max-width: 100%;
      height: auto;
    }
  }
  small {
    margin: 10px 0;
    display: block;
  }
}
/*---------------------------------------------------------------------------------------
 Editable_lock
---------------------------------------------------------------------------------------*/
.editable_lock {
  padding: 20px 70px 30px 70px;
  h1 {
    @include fontsize(2.0);
    font-weight: bold;
    margin: 0 0 40px 0;
  }
  p {
    margin: 0 0 30px 0;
    line-height: 1.8;
  }
  hr {
    width: 100px;
    margin: 30px auto;
  }
  blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 17.5px;
    border-left: 4px solid $dark_yellow;
  }
  ol {
    padding-left: 20px;
    margin-bottom: 30px;
  }
  ul {
    padding-left: 20px;
    margin-bottom: 30px;
    li {
      list-style: disc;
    }
  }
  pre {
    @include border_radius(0);
    padding: 10px 20px;
    display: block;
    margin: 0 0 10px;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: $white_gray;
    border: none;
  }
  figure {
    margin: 30px 0;
  }
  small {
    margin: 10px 0;
    display: block;
  }
}
/*---------------------------------------------------------------------------------------
 Medium Editor
---------------------------------------------------------------------------------------*/
.medium-editor-insert-plugin.medium-editor-placeholder:after {
  padding: 30px 70px;
}
.medium-editor-insert-plugin {
  .medium-editor-placeholder {
    &:after {
      padding: 30px 70px;
      font-style: normal;
    }
  }
  .medium-insert-buttons {
    .medium-insert-buttons-show {
      @include border_radius(100px);
      @include fontsize(2.1);
      position: relative;
      box-sizing: border-box;
      display: block;
      width: 22px;
      height: 22px;
      margin-top: 2px;
      border: 2px solid;
      line-height: 20px;
      margin-left: 19px;
      color: $white_brack;
      overflow: hidden;
      &:before {
        position: absolute;
        content: "+";
        height: 20px;
        left: 2px;
        top: -2px;
      }
      // &.active {
      //   transition: all .2s;
      // 	-webkit-transform: rotate(45deg);
      // 	transform: rotate(45deg);
      // }
    }
    .medium-insert-buttons-addons {
      top: -24px;
      li {
        a {
          box-sizing: border-box;
          display: inline-block;
          margin: 0;
          width: 30px;
          height: 30px;
          border: none;
          font-size: 20px;
          line-height: 28px;
          text-align: center;
          color: $white_brack;
          &.medium-insert-action {
            .fa {
              @include fontsize(2.6);
              font-family: 'torio_icon';
              &.fa-camera {
                &:before {
                  content: "\e622";
                }
              }
              &.fa-youtube-play {
                &:before {
                  content: "\e709";
                }
              }
            }
          }
        }
      }
    }
  }
}

.medium-editor-placeholder {
  &:after {
    font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック','MS PGothic',sans-serif;
    font-style: normal;
  }
}

.medium-editor-toolbar {
  border: 0;
  box-shadow: 0 0 0 #000;
  ul {
    @include border_radius();
    background: #242424;
    li {
      .medium-editor-button-first {
        background: none;
      }
      .medium-editor-action-pre {
        padding: 0;
      }
      button {
        border: 0;
        height: 35px;
        padding: 0;
        box-shadow: 0 0 0 #000;
        .fa-lg {
          vertical-align: middle;
        }
      }
    }
  }
}
.medium-toolbar-arrow-under {
  &:after {
    top: 35px;
  }
}

/*---------------------------------------------------------------------------------------
 Loader
---------------------------------------------------------------------------------------*/
.loader:before,
.loader:after,
.loader {
  @include border_radius(100%);
  width: 5px;
  height: 5px;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  display: block;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
  left: -30px;
  top: -17px;
  &:before,
  &:after {
    content: '';
    position: absolute;
  }
  &:before {
    left: -10px;
    top: 0px;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }
  &:after {
    left: 10px;
    top: 0px;
  }
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em #ffffff;
  }
  40% {
    box-shadow: 0 2.5em 0 0 #ffffff;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em #ffffff;
  }
  40% {
    box-shadow: 0 2.5em 0 0 #ffffff;
  }
}

/*---------------------------------------------------------------------------------------
 Delete_text
---------------------------------------------------------------------------------------*/

.delete_text {
  text-align: center;
  margin-top: 30%;
  p {
    @include fontsize(1.8);
    color: #fff;
  }
  button {
    @include border_radius();
    width: 140px;
    height: 40px;
    margin: 30px 10px;
    &:hover {
      @include opacity(0.8);
    }
    &.cancel {
      background: $white_gray;
    }
    &.agree {
      background: $green;
      color: #fff;
    }
  }
}
