/*---------------------------------------------------------------------------------------
 Option
---------------------------------------------------------------------------------------*/
.option_config {
  .configuration {
    padding: 0 30px 10px 30px;
    .configuration_inner {
      @include border_radius(3px);
      max-width: 750px;
      min-width: 590px;
      margin: 0 auto 30px auto;
      padding: 35px 35px;
      background: #fff;
      position: relative;
      border: 1px solid #ededf0;
      border-bottom: 1px solid #dcdce0;
      box-shadow: none;
      &.cancellation {
        .configuration_title {
          margin-bottom: 0;
        }
        .configuration_btn {
          margin-top: 30px;
          display: none;
        }
        .configuration_btn_show {
          position: absolute;
          right: 35px;
          top: 35px;
          color: $white_brack;
          span {
            padding-right: 20px;
            &:hover {
              cursor: pointer;
            }
            &.configuration_close {
              display: none;
            }
            i {
              @include fontsize(2.6);
              position: absolute;
              right: -5px;
              top: -2px;
            }
          }
        }
      }
      .profile_image_change {
        position: absolute;
        right: 30px;
        top: 30px;
        text-align: center;
        .user_image {
          img {
            width: 85px;
            height: 85px;
          }
        }
        .noimage {
          @include fontsize(3.0);
          width: 85px;
          height: 85px;
          line-height: 85px;
          font-weight: normal;
        }
        .change_btn {
          margin-top: 20px;
          a {
            color: $white_brack;
          }
        }
      }
      .configuration_title {
        @include fontsize(1.3);
        font-weight: bold;
        color: $brack;
        margin-bottom: 10px;
        clear: both;
      }
      .input_box {
        border: 1px solid $border_gray;
        width: 490px;
        padding: 10px;
        margin-bottom: 35px;
        position: relative;
        @include border_radius(3px);
        &.profile_text {
          margin-bottom: 50px;
        }
        &.profile_name {
          @include clearfix;
          border: none;
          padding: 0;
          input {
            @include border_radius(3px);
            border: 1px solid $border_gray;
            padding: 10px 10px;
            width: 235px;
            float: left;
            margin-left: 20px;
            &:first-child {
              margin-left: 0;
            }
          }
        }
        input {
          width: 100%;
          z-index: 10;
          &:focus {
            outline: none;
          }
        }
        &.disabled {
          background: $white_gray;
          input {
            pointer-events : none;
          }
        }
        textarea {
          width: 100%;
          resize: none;
          &:focus {
            outline: none;
          }
        }
        .change {
          position: absolute;
          right: 20px;
          top: 10px;
          color: $white_brack;
          z-index: 100;
          &:hover {
            cursor: pointer;
          }
        }
        .count {
          @include fontsize(1.2);
          position: absolute;
          left: 0;
          bottom: -30px;
          color: $white_brack;
        }
      }
      .input_box_pass {
        @extend .input_box;
      }
      .select_box {
        @extend .input_box;
        @include border_radius(3px);
        position: relative;
        padding: 0;
        select {
          border: none;
          margin: 0;
          padding: 10px;
          width: 100%;
          z-index: 10;
        }
        &:after {
          position: absolute;
          right: 7px;
          top: 2px;
          height: 26px;
          width: 26px;
          font-family: 'torio_icon';
          content: "\e60a";
          color: $white_brack;
          z-index: 1;
          display: block;
        }
      }
    }
  }
}
/*---------------------------------------------------------------------------------------
 Connect List
---------------------------------------------------------------------------------------*/
.connect_list {
  height: 120px;
  position: relative;
  i {
    @include fontsize(5.0);
    color: $torio_green;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -25px;
  }
  .service_name {
    font-weight: bold;
    padding: 38px 0 0 60px;
  }
  .service_description {
    padding: 0 0 0 60px;
  }
  .toggle_box {
    position: absolute;
    right: 0;
    top: 0;
  }
  .connect_list_btn {
    @include border_radius();
    position: absolute;
    right: 0;
    top: 45px;
    width: 120px;
    height: 35px;
    line-height: 35px;
    border: 1px solid $border_gray;
    text-align: center;
    color: $white_brack;
    &.connect {
      background: $brack;
      color: white;
      &:hover {
        @include opacity(0.7);
        cursor: pointer;
      }
    }
  }
  &:after {
    @include clearfix;
    margin-top: 37px;
    clear: both;
    display: block;
    content: "";
    background-image: -webkit-linear-gradient(left, $white_brack, $white_brack 20%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0) 100%);
    background-image: -o-linear-gradient(left, $white_brack, $white_brack 20%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0) 100%);
    background-image: linear-gradient(to right, $white_brack, $white_brack 20%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0) 100%);
    background-size: 5px 5px;
    height: 1px;
  }
  &:last-child {
    &:after {
      background: none;
    }
  }
  .toggle_box {
    position: absolute;
    top: 45px;
    right: 0;
    .toggle_btn {
      @include border_radius(18px);
      position: relative;
      float: left;
      width: 60px;
      height: 30px;
      padding: 3px;
      &:hover {
        cursor: pointer;
      }
      &.on {
        background: #4ad337;
        .circle {
          width: 24px;
          height: 24px;
          top: 3px;
        }
      }
      &.off {
        background: $dark_gray;
      }
      .circle {
        @include border_radius(100px);
        position: absolute;
        left:3px;
        width: 24px;
        height: 24px;
        background: #fff;
        display: block;
        box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2),0 3px 4px 0 rgba(0,0,0,0.1);
      }
    }
    p {
      float: left;
      line-height: 35px;
      .on {
        display: none;
        margin-left: 15px;
      }
      .off {
        display: block;
        margin-left: 15px;
      }
    }
  }
}
/*---------------------------------------------------------------------------------------
 Configuration_btn
---------------------------------------------------------------------------------------*/
.configuration_btn {
  @include border_radius();
  width: 130px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: white;
  background: $torio_green;
  @include fontsize(1.3);
  font-weight: bold;
  &.delete {
    background: $dark_red;
  }
  &:hover {
    @include opacity(0.7);
    cursor: pointer;
  }
}
/*---------------------------------------------------------------------------------------
 Plan
---------------------------------------------------------------------------------------*/
.plan {
  .title {
    @include fontsize(2.2);
    text-align: center;
    margin-bottom: 0px;
  }
  .note {
    text-align: center;
    color: $white_brack;
  }
  .plan_select {
    position: relative;
    height: 34px;
    margin: 20px 0;
    select {
      @include border_radius();
      position: absolute;
      margin-left: -100px;
      left: 50%;
      border: 1px solid $border_gray;
      padding: 5px;
      width: 200px;
    }
    &:after {
      position: absolute;
      font-family: 'torio_icon';
      content: "\e60a";
      left: 50%;
    }
  }
  .plan_type {
    @include border_radius();
    margin-top: 50px;
    border: 1px solid $border_gray;
    width: 100%;
    display: table;
    table-layout: fixed;
    div {
      display: table-cell;
      position: relative;
      border-left: 1px solid $border_gray;
      text-align: center;
      padding: 20px;
      height: 380px;
      &:first-child {
        border: none;
      }
      .type_name {
        @include fontsize(1.8);
        @include font_eng;
        font-weight: bold;
        margin-bottom: 20px;
      }
      .price {
        @include fontsize(3.4);
        @include font_eng;
        &:before {
          @include fontsize(2.4);
          content: "¥";
        }
      }
      .user_count {
        margin-top: 20px;
      }
      .option {
        @include fontsize(1.2);
        color: $white_brack;
        height: 40px;
      }
      button {
        @include border_radius();
        position: absolute;
        bottom: 20px;
        left: 50%;
        width: 80%;
        margin-left: -40%;
        height: 40px;
        &.yourgrade {
          border: 1px solid $border_gray;
          background: $white_gray;
        }
        &.upgrade {
          background: $torio_green;
          color: #fff;
          &:hover {
            @include opacity(0.7);
          }
        }
      }
      &.pro {
        .type_name {
          color: $torio_green;
        }
      }
      &.team {
        .type_name {
          color: $torio_yellow;
        }
      }
      &.company {
        .type_name {
          color: $torio_red;
        }
      }
    }
  }
}
/*---------------------------------------------------------------------------------------
 Profile
---------------------------------------------------------------------------------------*/
h3.profile_title {
  color: $dark_brack;
  height: 45px;
  line-height: 45px;
  padding-left: 13px;
  margin: 0;
  // border-bottom: 1px solid $border_gray;
  font-weight: bold;
  background: #fff;
  position: relative;
  z-index: 100;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.profile {
  z-index: 10;
  .user_image {
    padding-top: 30px;
    margin: 0 auto 20px auto;
    text-align: center;
    img {
      width: 85px;
      height: 85px;
      -webkit-transition: opacity 0.33s cubic-bezier(0.645, 0.045, 0.355, 1);
      -webkit-transition-delay: 0.25s;
      -moz-transition: opacity 0.33s cubic-bezier(0.645, 0.045, 0.355, 1) 0.25s;
      -o-transition: opacity 0.33s cubic-bezier(0.645, 0.045, 0.355, 1) 0.25s;
      transition: opacity 0.33s cubic-bezier(0.645, 0.045, 0.355, 1) 0.25s;
    }
  }
  .noimage_box {
    padding-top: 50px;
    .noimage {
      @include fontsize(3.0);
      @include font_eng;
      font-weight: normal;
      margin: 0 auto 18px auto;
      text-align: center;
      width: 85px;
      height: 85px;
      line-height: 85px;
    }
  }
  .profile_name {
    @include fontsize(1.8);
    margin-bottom: 3px;
    text-align: center;
    font-weight: bold;
  }
  .profile_mail {
    @include fontsize(1.3);
    text-align: center;
    margin-bottom: 18px;
  }
  .profile_comment {
    @include fontsize(1.3);
    padding: 0 30px 50px 30px;
  }
  .profile_link {
    text-align: center;
    li {
      display: inline-block;
      margin: 0 5px;
      position: relative;
      a {
        @include border_radius(100px);
        background: $torio_green;
        height: 30px;
        width: 30px;
        line-height: 30px;
        display: block;
        color: #ffffff;
        i {
          @include fontsize(2.4);
          &.icon-home{
            position: absolute;
            left: 3px;
            top: 3.5px;
          }
          &.icon-facebook{
            position: absolute;
            left: 3px;
            top: 3.5px;
          }
          &.icon-twitter{
            position: absolute;
            left: 3px;
            top: 4px;
          }
        }
        &:hover {
          color: white;
        }
      }
    }
  }
  hr {
    width: 100%;
    margin: 0 auto 0 auto;
  }
  .profile_settings {
    padding: 28px 0;
    li {
      position: relative;
      a {
        display: block;
        height: 47px;
        line-height: 47px;
        padding-left: 47px;
        &:hover {
          background: $white_gray;
          color: $dark_brack;
        }
        &.selected{
          background: #3A87BC;
          color: #fff;
          font-weight: bold;
          i {
            color: #ffffff;
          }
        }
      }
      i {
        @include fontsize(2.8);
        color: $white_brack;
        position: absolute;
        top: 10px;
        left: 10px;
      }
    }
  }
}

/*---------------------------------------------------------------------------------------
 Cancellation_box
---------------------------------------------------------------------------------------*/
#cancellation_box {
  @include clearfix;
  #cancellation_second {
    display: none;
  }
  #cancellation_finish {
    display: none;
    padding: 50px 0;
    .white {
      border: none;
    }
    p {
      @include fontsize(2.2);
      font-weight: bold;
      text-align: center;
      color: $dark_red;
      i {
        @include fontsize(6.0);
        margin-bottom: 20px;
      }
    }
  }
  .modal-body {
    @include border_radius();
    &.white {
      .cancellation_contents {
        .cancellation_title {
          @include fontsize(1.6);
          color: $dark_brack;
          font-weight: bold;
          margin-bottom: 10px;
        }
        .attention {
          @include border_radius(3px);
          background: $white_red;
          padding: 20px;
          color: $dark_red;
        }
        .caution {
          @include fontsize(1.8);
          color: $dark_red;
          margin: 30px 0;
        }
        .data {
          font-weight: bold;
          padding-bottom: 10px;
          border-bottom: 1px solid $border_gray;
          margin-bottom: 10px;
        }
        .data_list {
          padding-left: 20px;
          margin-bottom: 20px;
          li {
            list-style: disc;
          }
        }
        .cancellation_reason_list {
          margin: 20px 0;
          li {
          clear: both;
          height: 35px;
          line-height: 35px;
          input[type="checkbox"] + label {
          margin: 20px 10px 15px 0px;
          }
          }
        }
        .cancellation_reason_etc {
          @include border_radius(2px);
          border: 1px solid $border_gray;
          padding: 10px;
          width: 426px;
          margin: -15px 0 30px 28px;
        }
        .cancellation_reason {
          @include border_radius(2px);
          border: 1px solid $border_gray;
          width: 100%;
          padding: 10px;
          resize: none;
          height: 60px;
          &:focus {
            outline: none;
          }
        }
        .note {
          @include fontsize(1.3);
          color: $white_brack;
        }
        .attention {
          @include border_radius(2px);
          background: $white_red;
          padding: 20px;
          color: $dark_red;
          margin-bottom: 30px;
        }
        .caution {
          @include fontsize(1.6);
          color: $dark_red;
          margin-bottom: 30px;
        }
        .data {
          font-weight: bold;
          padding-bottom: 10px;
          border-bottom: 1px solid $border_gray;
          margin-bottom: 10px;
        }
        .data_list {
          padding-left: 20px;
          margin-bottom: 20px;
          li {
            list-style: disc;
          }
        }
        .configuration_btn_box {
          @include clearfix;
          padding-top: 30px;
          .configuration_btn {
            float: right;
            &.delete {
              display: block;
              margin-left: 20px;
            }
            &.cancel {
              display: block;
              background: none;
              border: 1px solid $border_gray;
              color: $white_brack;
            }
          }
        }
      }
    }
  }
}
