/*---------------------------------------------------------------------------------------
 Option
---------------------------------------------------------------------------------------*/
.option {
  .configuration {
    padding: 0 30px 10px 30px;
    .configuration_inner {
      @include border_radius(2px);
      max-width: 750px;
      min-width: 590px;
      margin: 0 auto 30px auto;
      padding: 30px 50px;
      background: #fff;
      position: relative;
      border: 1px solid #ededf0;
      border-bottom: 1px solid #dcdce0;
      box-shadow: none;
      &.cancellation {
        .configuration_title {
          margin-bottom: 0;
        }
        .configuration_btn {
          margin-top: 30px;
          display: none;
        }
        .configuration_btn_show {
          position: absolute;
          right: 45px;
          top: 30px;
          color: $white_brack;
          span {
            padding-right: 20px;
            &:hover {
              cursor: pointer;
            }
            &.configuration_open {

            }
            &.configuration_close {
              display: none;
            }
            i {
              @include fontsize(2.6);
              position: absolute;
              right: -5px;
              top: -2px;
            }
          }
        }
      }
      .configuration_title {
        @include fontsize(1.4);
        font-weight: bold;
        color: $brack;
        margin-bottom: 10px;
      }
      input {
        border: 1px solid $border_gray;
        width: 490px;
        padding: 10px 10px;
        margin-bottom: 20px;
        &:focus {
          outline: none;
        }
      }
      .select_box {
        @extend input;
        @include border_radius(0);
        position: relative;
        padding: 0;
        select {
          border: none;
          margin: 0;
          padding: 10px;
          width: 100%;
          z-index: 10;
        }
        &:after {
          position: absolute;
          right: 7px;
          top: 2px;
          height: 26px;
          width: 26px;
          font-family: 'torio_icon';
          content: "\e666";
          color: $white_brack;
          z-index: 1;
          display: block;
        }
      }
    }
  }
}
/*---------------------------------------------------------------------------------------
 Configuration_btn
---------------------------------------------------------------------------------------*/
.configuration_btn {
  @include border_radius();
  width: 150px;
  height: 50px;
  line-height: 50px;
  color: white;
  background: $torio_green;
  &.delete {
    background: $dark_red;
  }
  &:hover {
    @include opacity(0.7);
  }
}

/*---------------------------------------------------------------------------------------
 Profile
---------------------------------------------------------------------------------------*/
.profile {
  h3 {
    padding: 0 0 20px 20px;
    border-bottom: 1px solid $border_gray;
    font-weight: bold;
  }
  .user_image {
    margin: 30px auto 20px auto;
    text-align: center;
    img {
      width: 100px;
      height: 100px;
    }
  }
  .noimage {
    @include fontsize(2.6);
    margin: 30px auto 20px auto;
    text-align: center;
    width: 100px;
    height: 100px;
    line-height: 100px;
  }
  .profile_name {
    @include fontsize(1.5);
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
  }
  .profile_mail {
    @include fontsize(1.2);
    text-align: center;
    margin-bottom: 20px;
  }
  .profile_comment {
    @include fontsize(1.2);
    padding: 0 30px;
    color: $white_brack;
  }
  .profile_link {
    text-align: center;
    li {
      display: inline-block;
      margin: 0 5px;
      position: relative;
      a {
        @include border_radius(100px);
        color: $white_brack;
        height: 30px;
        width: 30px;
        line-height: 30px;
        display: block;
        border: 1px solid $white_brack;
        i {
          @include fontsize(2.6);
          position: absolute;
          left: 2px;
          top: 2px;
        }
        &:hover {
          color: $torio_green;
          border: 1px solid $torio_green;
        }
      }
    }
  }
  hr {
    width: 40%;
    margin: 30px auto;
  }
  .profile_settings {
    li {
      position: relative;
      a {
        display: block;
        height: 45px;
        line-height: 45px;
        padding-left: 40px;
        &:hover {
          background: $torio_green;
          color: white;
          i {
            color: white;
          }
        }
      }
      i {
        @include fontsize(2.6);
        color: $white_brack;
        position: absolute;
        top: 10px;
        left: 10px;
      }
    }
  }
}
