.task {
  .task_create {
    @include border_radius(4);
    position: relative;
    /*border: 1px solid $green;*/
    border: 1px solid $border_gray;
    /*border: 1px solid #ededf0;
    border-bottom: 1px solid #dcdce0;*/
    margin: 0 30px;
    vertical-align: top;
    line-height: 26px;
    padding: 10px 15px;
    background: #fff;
    color: $white_brack;
    i {
      @include fontsize(2.6);
      position: absolute;
      left: 12px;
      top: 10px;
    }
    input {
      width: 90%;
      padding-left: 30px;
    }
    .task_add_list_member {
      @include border_radius();
      left: 0;
      top: 40px;
      input {
        @include border_radius();
        @include fontsize(1.3);
        width: 220px;
        margin: 10px 15px;
        padding: 5px;
        border: 1px solid $border_gray;
      }
      ul {
        li {
          position: relative;
          .user_image {
           position: static;
           display: inline-block;
           padding: 0 10px 0 0;
           img {
             width: 20px;
             height: 20px;
           }
          }
          .noimage {
            @include fontsize(1.0);
            position: static;
            display: inline-block;
            margin-right: 10px;
            height: 20px;
            width: 20px;
            line-height: 20px;
            font-weight: normal;
          }
        }
      }
    }
  }
}

/*---------------------------------------------------------------------------------------
 Checkbox
---------------------------------------------------------------------------------------*/
input[type="checkbox"] {
  display: none;
  & + label {
    display: block;
    cursor: pointer;
    float: left;
    width: 18px;
    margin: 27px 10px 18px 15px;
    /*通常時の見た目*/
    &:before {
      @include fontsize(3.0);
      @include border_radius(3);
      position: absolute;
      font-family: 'torio_icon';
      width: 18px;
      height: 18px;
      line-height: 18px;
      display: inline-block;
      vertical-align: middle;
      text-align: center;
      content: "\e649";
      color: transparent;
      padding: 0;
      /*border: 1px solid #dddddd;*/
      border: 1px solid rgba(0,0,0,0.26);
      /*background: #fff;*/
      background: -webkit-linear-gradient(top, rgba(217,217,215,0), rgba(217,217,215,0.26));
      background: -moz-linear-gradient(top, rgba(217,217,215,0), rgba(217,217,215,0.26));
      background: -o-linear-gradient(top, rgba(217,217,215,0), rgba(217,217,215,0.26));
      background: -ms-linear-gradient(top, rgba(217,217,215,0), rgba(217,217,215,0.26));
      background: linear-gradient(to bottom, rgba(217,217,215,0), rgba(217,217,215,0.26));
      margin: -12px 0px 0 0;
      -webkit-transition: .1s;
      transition: .1s;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
    /*hover時の見た目*/
    &:hover {
      color: $torio_green;
      &:before {
        background-color: $white_gray;
      }
    }
  }
  /*checked時の見た目*/
  &:checked + label {
    color: $blue;
    &::before {
      @include fontsize(1.5);
      background: $torio_green;
      border-color: $blue;
      color: #fff;
    }
  }
}

/*---------------------------------------------------------------------------------------
 task_none
---------------------------------------------------------------------------------------*/
.task_none {
  margin: 30px;
  text-align: center;
  display: none;
}

/*---------------------------------------------------------------------------------------
 task_replacement
---------------------------------------------------------------------------------------*/
.task_replacement {
  margin: 30px;
  .placeholder {
    background: $dark_gray;
    min-height: 100px;
    margin-bottom: 20px;
  }
  .placeholder_inner {
    background: $dark_gray;
    min-height: 50px;
    margin-bottom: 5px;
  }
  .task_people {
    @include fontsize(1.3);
    left: 0;
    padding-bottom: 30px;
    color: $white_brack;
    font-weight: bold;
    &.ui-sortable-helper {
      -moz-transform: rotate(-1deg);
      -webkit-transform: rotate(-1deg);
      -o-transform: rotate(-1deg);
      -ms-transform: rotate(-1deg);
    }
    .handle {
      margin-bottom: 15px;
      color: #333;
    }
    .finish {
      @include fontsize(1.2);
      position: relative;
      margin-top: 15px;
      font-weight: normal;
      line-height: 20px;
      i {
        @include fontsize(1.8);
        position: absolute;
        top: 0;
      }
      span {
        @include fontsize(1.1);
        font-weight: normal;
        padding-left: 20px;
      }
    }
    .number {
      @include fontsize(1.1);
      font-weight: normal;
      padding-left: 8px;
      @include font_eng;
      color: $white_brack;
    }
    .task_lists {
      min-height: 50px;
    }
    .task_list {
      @include border_radius(4);
      margin: 0 0 5px 0;
      line-height: 50px;
      height: 50px;
      background: #fff;
      clear: both;
      /*border: 1px solid #ededf0;
      border-bottom: 1px solid #dcdce0;*/
      border: 1px solid $border_gray;
      box-shadow: none;
      position: relative;
      color: $white_brack;
      &.ui-sortable-helper {
        -moz-transform: rotate(-1deg);
        -webkit-transform: rotate(-1deg);
        -o-transform: rotate(-1deg);
        -ms-transform: rotate(-1deg);
      }
      &.important {
        border: 1px solid #f4c8bf;
        background: $white_red;
        input[type="checkbox"] {
          & + label {
            /*通常時の見た目*/
            &:before {
              border: 1px solid $red;
              background: $white_red;
            }
          }
          /*checked時の見た目*/
          &:checked + label {
            &::before {
              background: $dark_red;
              border-color: $red;
            }
          }
        }
      }
      &.made {
        height: auto;
        min-height: 50px;
        input[type="textarea"] {
          width: 90%;
          border: none;
          height: 35px;
          margin-bottom: -18px;
          overflow: hidden;
          outline: none;
          padding: 16px 0 0 0;
          line-height: 1.5;
          font-weight: normal;
          /*resize: vertical;*/
          &:focus {
            outline: none;
          }
        }
        .task_add_member {
          @include border_radius();
          right: 143px;
          top: -190px;
          input {
            @include border_radius();
            @include fontsize(1.3);
            width: 220px;
            margin: 10px 15px;
            padding: 5px;
            border: 1px solid $border_gray;
          }
          ul {
            li {
              position: relative;
              .user_image {
               position: static;
               display: inline-block;
               padding: 0 10px 0 0;
              }
              .noimage {
                position: static;
                display: inline-block;
                margin-right: 10px;
              }
            }
          }
        }
        .task_add_time {
          right: 140px;
          top: -223px;
          .task_add_time_footer {
            .btn_add_task {
              bottom: 0;
            }
          }
        }
        .task_button {
          display: none;
          margin-top: 70px;
        }
      }
      i {
       @include fontsize(2.0);
      }
      .btn_add_task {
        @include border_radius(2);
        position: absolute;
        right: 15px;
        bottom: 11px;
        line-height: 30px;
        width: 100px;
        color: #fff;
        font-weight: normal;
        background: $torio_green;
        @include fontsize(1.2);
        &:hover {
          @include opacity(0.8);
        }
      }
      .time_create {
        position: absolute;
        right: 128px;
        bottom: 16px;
        &.configured {
          @include border_radius();
          @include fontsize(1.1);
          color: $brack;
          border: 1px solid $border_gray;
          background: $white_gray;
          height: 30px;
          line-height: 30px;
          vertical-align: top;
          right: 120px;
          bottom: 11px;
          padding: 0 10px 0 28px;
          i {
            position: absolute;
            top: 5px;
            left: 5px;
          }
        }
      }
      .task_member {
        @extend .time_create;
        right: 162px;
        line-height: 30px;
        &.configured {
          line-height: 28px;
          right: 239px;
          padding: 0 10px 0 32px;
          span {
            padding: 0;
          }
          .noimage {
            width: 20px;
            height: 20px;
            line-height: 20px;
            padding: 0;
            display: block;
            top: 4px;
            left: 5px;
          }
          .user_image {
            top: 4px;
            left: 5px;
            img {
              width: 20px;
              height: 20px;
            }
          }
        }
      }
      .task_title {
        color: #000000;
        width: 70%;
        @include fontsize(1.3);
        font-weight: normal;
      }
      .user_image {
        position: absolute;
        top: 13px;
        right: 15px;
        img {
          height: 25px;
          width: 25px;
        }
      }
      .noimage {
        @include fontsize(1.0);
        position: absolute;
        top: 12px;
        right: 15px;
        width: 25px;
        height: 25px;
        line-height: 25px;
        text-align: center;
        padding: 0;
      }
      .task_icon_box {
        position: absolute;
        right: 15px;
        top: 0;
        p {
          display: inline-block;
          position: relative;
          margin-left: 10px;
        }
        .time {
          padding-left: 20px;
          font-weight: normal;
          @include fontsize(1.1);
          i {
            position: absolute;
            top: 14px;
            left: 0;
          }
          &.caution {
            color: $dark_red;
          }
        }
        .comment {
          padding-left: 20px;
          font-weight: normal;
          @include fontsize(1.1);
          i {
            position: absolute;
            top: 14px;
            left: 0;
          }
        }
        .user_image {
          position: static;
          img {
            height: 25px;
            width: 25px;
          }
        }
        .noimage {
          @include fontsize(1.0);
          position: static;
          width: 25px;
          height: 25px;
          line-height: 25px;
          text-align: center;
          padding: 0;
        }
      }
    }
  }
  .dd {
    @include fontsize(1.3);
    position: relative;
    display: block;
    margin-bottom: 30px;
    padding: 0;
    list-style: none;
    line-height: 20px;
    width: 100%;
    .dd-list {
      display: block;
      position: relative;
      margin: 0;
      padding: 0;
      list-style: none;
      .dd-item {
        margin-bottom: 5px;
      }
    }
    .dd-collapsed .dd-list {
      display: none;
    }
  }
  .task_title_edit {
    line-height: 50px;
    width: 80%;
  }
}

/*---------------------------------------------------------------------------------------
 Callender
---------------------------------------------------------------------------------------*/
.calendar {
  text-align: center;
  width: 250px;
  @include font_eng;
  input {
    @include border_radius();
    @include fontsize(1.3);
    width: 220px;
    margin: 10px 15px;
    padding: 5px;
    border: 1px solid $border_gray;
  }
  .ui-datepicker {
    margin: 0 auto;
    width: 220px;
    th {
      @include fontsize(1.3);
      span {
        @include fontsize(1.3);
        padding: 0;
      }
    }
    td {
      &.ui-datepicker-today {
        a {
          background: $green !important;
          color: #fff;
        }
      }
    }
    a {
      color: $brack;
    }
  }
  .ui-state-hover {
    &:hover {
      background: $white_gray;
    }
  }
  .ui-datepicker-inline {
    position: relative;
    .ui-datepicker-calendar {
      thead {
        border-bottom: 1px solid $border_gray;
      }
      tbody {
        tr {
          &:first-child {
            span {
              padding-top: 10px;
            }
          }
        }
      }
    }
    .ui-widget-header {
      background: none;
      border: none;
      color: $brack;
      .ui-state-hover {
        border: none;
        background: none;
      }
      .ui-icon {
        background: none;
        text-indent: 0;
        overflow: visible;
        &.ui-icon-circle-triangle-e {
          &:before {
            @include fontsize(2.6);
            font-family: 'torio_icon';
            content: "\e62e";
            position: absolute;
            right: -10px !important;
            top: -17px !important;
            color: $white_brack;
          }
          &:hover {
            cursor: pointer;
            &:before {
              right: -9px;
              top: -16px;
              color: $white_brack;
            }
          }
        }
        &.ui-icon-circle-triangle-w {
          &:before {
            @include fontsize(2.6);
            position: absolute;
            left: -24px !important;
            top: -17px !important;
            font-family: 'torio_icon';
            content: "\e62d";
            color: $white_brack;
          }
          &:hover {
            cursor: pointer;
            &:before {
              left: -23px;
              top: -16px;
              color: $white_brack;
            }
          }
        }
      }
      a {
        display: block;
        color: $brack;
        &.ui-datepicker-prev {
          span {
            margin: 0;
          }
        }
        &.ui-datepicker-prev-hover {
          span {
            margin: 0;
          }
        }
        &.ui-datepicker-next {
          span {
            margin: 0;
          }
        }
        &.ui-datepicker-next-hover {
          span {
            margin: 0;
          }
        }
      }
      .ui-datepicker-title {
        font-weight: lighter;
        span {
          @include fontsize(1.3);
          padding: 0;
        }
      }
    }
    .ui-datepicker-calendar {
      a {
        &.ui-state-active {
          background: $white_green;
        }
        &.ui-state-hover {
          &:hover {
            background: $white_green;
            border: none;
          }
        }
      }
    }
  }
  .ui-datepicker {
    td {
      a {
        text-align: center;
      }
    }
  }
  .ui-widget-content {
    background: none;
    border: none;
  }
  .ui-datepicker-week-end,.ui-datepicker-unselectable,.ui-state-disabled {
    span {
      @include fontsize(1.3);
      text-align: center;
      padding: 0;
    }
  }
  .ui-state-default,.ui-state-highlight {
      border: none;
    }
  .ui-state-default,.ui-widget-content,.ui-widget-header {
    .ui-state-default {
      border: none;
      background: none;
      font-weight: bold;
      color: $brack;
    }
  }
  .ui-state-default {
    border: none;
    background: none;
    font-weight: bold;
    color: $brack;
  }
}

.select_box {
  position: relative;
  select {
    width: 220px;
    margin: 20px 15px;
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid $border_gray;
    padding: 5px 10px;
    z-index: 100;
    &:focus {
      outline: none;
    }
  }
  &:after {
    @include fontsize(2.6);
    position: absolute;
    right: 20px;
    top: 19px;
    font-family: 'torio_icon';
    content: "\e666";
    color: $white_brack;
    z-index: 10;
  }
}

.btn_add_task_create {
  @include border_radius(3);
  @include fontsize(1.2);
  display: none;
  position: absolute;
  top: 8px;
  right: 15px;
  width: 100px;
  height: 30px;
  line-height: 30px;
  color: #fff;
  font-weight: normal;
  background: $torio_green;
  &:hover {
    @include opacity(0.8);
  }
}

.task_add_time_footer {
  position: relative;
  border-top: 1px solid $border_gray;
  height: 36px;
  .btn_cancel {
    position: absolute;
    right: 120px;
    bottom: 3px;
    width: 80px;
    color: $torio_green;
    &:hover {
      @include opacity(0.7);
    }
  }
  .btn_add_task {
    bottom: 10px;
  }
}

.task_add_requester {
  @include border_radius();
  left: 115px;
  top: 38px;
  input {
    @include border_radius();
    @include fontsize(1.3);
    width: 220px;
    margin: 10px 15px;
    padding: 5px;
    border: 1px solid $border_gray;
  }
  ul {
    li {
      position: relative;
      .user_image {
       position: static;
       display: inline-block;
       padding: 0 10px 0 0;
       img {
         width: 20px;
         height: 20px;
       }
      }
      .noimage {
        @include fontsize(1.0);
        position: static;
        display: inline-block;
        margin-right: 10px;
        height: 20px;
        width: 20px;
        line-height: 20px;
        font-weight: normal;
      }
      .checked {
        &:after {
          color: $white_brack;
        }
      }
    }
  }
}
.task_add_worker {
  @extend .task_add_requester;
  top: 88px;
}
.btn_add_task {
  @include border_radius(2);
  position: absolute;
  right: 15px;
  bottom: 11px;
  line-height: 30px;
  width: 100px;
  color: #fff;
  font-weight: normal;
  background: $torio_green;
  @include fontsize(1.2);
  &:hover {
    @include opacity(0.8);
  }
}
