.task {
  @include font-smoothing(on);
  background: $white_gray;
  .task_create {
    padding: 0 30px;
    .task_create_inner {
      @include border_radius(4px);
      position: relative;
      margin: 0 auto;
      height: 53px;
      /*border: 1px solid $green;*/
      border: 1px solid $border_gray;
      /*border: 1px solid #ededf0;
      border-bottom: 1px solid #dcdce0;*/
      vertical-align: top;
      line-height: 29px;
      padding: 10px 15px;
      background: #fff;
      color: $white_brack;
      min-width: 590px;
      max-width: 750px;
      &:active{
        border: solid 1px rgba(62,136,186,0.7);
        background-color: #ffffff;
        box-shadow: 0 0 4px rgba(53,175,242,0.6);
      }
      &:hover{
        border: solid 1px rgba(62,136,186,0.7);
        background-color: #ffffff;
        box-shadow: 0 0 4px rgba(53,175,242,0.6);
      }
      i {
        @include fontsize(2.6);
        position: absolute;
        left: 13px;
        top: 14px;
        color: #bbb;
      }
      input {
        width: 90%;
        padding-left: 30px;
        padding-top: 3px;
        color: #000;
      }
      .btn_add_task_create {
        @include border_radius(4px);
        @include fontsize(1.2);
        display: none;
        position: absolute;
        top: 11px;
        right: 11px;
        width: 100px;
        height: 30px;
        line-height: 30px;
        color: #fff;
        font-weight: normal;
        background: $torio_green;
        &:hover {
          @include opacity(0.8);
        }
      }
      .task_add_list_member {
        @include border_radius();
        left: 0;
        top: 40px;
        input {
          @include border_radius();
          @include fontsize(1.3);
          width: 220px;
          margin: 10px 15px;
          padding: 5px;
          border: 1px solid $border_gray;
        }
        ul {
          li {
            position: relative;
            .user_image {
             position: static;
             display: inline-block;
             padding: 0 10px 0 0;
             img {
               width: 20px;
               height: 20px;
             }
            }
            .noimage {
              @include fontsize(1.0);
              position: static;
              display: inline-block;
              margin-right: 10px;
              height: 20px;
              width: 20px;
              line-height: 20px;
              font-weight: normal;
            }
          }
        }
      }
    }
  }
}

/*---------------------------------------------------------------------------------------
 Checkbox
---------------------------------------------------------------------------------------*/
input[type="checkbox"] {
  display: none;
  & + label {
    display: block;
    cursor: pointer;
    float: left;
    width: 18px;
    margin: 29px 13px 18px 15px;
    /*通常時の見た目*/
    &:before {
      @include fontsize(3.0);
      @include border_radius(4px);
      position: absolute;
      font-family: 'torio_icon';
      width: 20px;
      height: 20px;
      line-height: 18px;
      display: inline-block;
      vertical-align: middle;
      text-align: center;
      content: "\e649";
      color: transparent;
      padding: 0;
      /*border: 1px solid #dddddd;*/
      border: 2px solid rgba(0,0,0,0.15);
      background: #fff;
      /*background: -webkit-linear-gradient(top, rgba(217,217,215,0), rgba(217,217,215,0.26));
      background: -moz-linear-gradient(top, rgba(217,217,215,0), rgba(217,217,215,0.26));
      background: -o-linear-gradient(top, rgba(217,217,215,0), rgba(217,217,215,0.26));
      background: -ms-linear-gradient(top, rgba(217,217,215,0), rgba(217,217,215,0.26));
      background: linear-gradient(to bottom, rgba(217,217,215,0), rgba(217,217,215,0.26));*/
      margin: -12px 0px 0 0;
      -webkit-transition: background-color 0.1s linear 0.1s;
      transition: background-color 0.1s linear 0.1s;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
    /*hover時の見た目*/
    &:hover {
      color: $torio_green;
      &:before {
        background-color: $white_gray;
      }
    }
  }
  /*checked時の見た目*/
  &:checked + label {
    color: $blue;
    &::before {
      @include fontsize(1.5);
      background: $torio_green;
      border-color: $blue;
      border: 2px solid $blue;
      color: #fff;
    }
  }
}

/*---------------------------------------------------------------------------------------
 task_none
---------------------------------------------------------------------------------------*/
.task_none {
  margin: 30px;
  text-align: center;
  display: none;
}

/*---------------------------------------------------------------------------------------
 task_replacement
---------------------------------------------------------------------------------------*/
.task_replacement {
  margin: 30px auto;
  padding: 0 30px;
  min-width: 650px;
  max-width: 810px;
  .placeholder {
    background: $dark_gray;
    min-height: 100px;
    margin-bottom: 20px;
  }
  .placeholder_inner {
    background: $dark_gray;
    min-height: 50px;
    margin-bottom: 5px;
  }
  .task_people {
    @include fontsize(1.4);
    left: 0;
    padding-bottom: 30px;
    color: $white_brack;
    font-weight: bold;
    position: relative;
    &.ui-sortable-helper {
      -moz-transform: rotate(-1deg);
      -webkit-transform: rotate(-1deg);
      -o-transform: rotate(-1deg);
      -ms-transform: rotate(-1deg);
    }
    .handle {
      margin-bottom: 15px;
      color: #000;
      position: relative;
      .option {
        right: 0;
        top: 0;
        position: absolute;
        color: $white_brack;
        @include fontsize(2.6);
        cursor: pointer;
        &:hover {
          .balloon_box {
            display: block;
            top: 15px;
            left: 50%;
            margin: -50px;
          }
        }
      }
    }
    .task_option_box{
      width: 200px;
      right: -7px;
      top: 35px;
      z-index: 50;
      @include font-smoothing(off);
      &.popover {
        @include border_radius(5px);
        display: none;
        width: 200px;
        max-width: 200px;
        position: absolute;
        z-index: 9999;
        background: #fff;
        /*box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);*/
        border: 1px solid #c4c9cc;
        border-bottom-color: #c4c9cc;
        box-shadow: 0 1px 2px rgba(0,0,0,.15);
        line-height: 1.42857143;
        text-align: left;
        white-space: normal;
        @include opacity(1);
        padding: 10px 0;
        z-index: 20;
        &::before {
         	position: absolute;
         	content: '';
         	left:90%;
         	top: -16px;
         	margin-left:-7px;
         	border:8px solid transparent;
         	border-bottom-color:rgba(0,0,0,.3);
        }
        &::after {
         	position:absolute;
         	content: '';
         	left:90%;
         	top:-15px;
         	margin-left:-7px;
         	border:8px solid transparent;
         	border-bottom-color:#fff;
       	}
      }
    }
    .finish {
      @include fontsize(1.2);
      position: relative;
      margin-top: 20px;
      font-weight: normal;
      line-height: 20px;
      @include font-smoothing(off);
      @include font_eng;
      i {
        @include fontsize(1.8);
        position: absolute;
        top: 0;
      }
      span {
        @include fontsize(1.2);
        font-weight: normal;
        padding-left: 22px;
      }
    }
    .finish_group {
      @include fontsize(1.2);
      position: relative;
      margin-top: 15px;
      font-weight: normal;
      line-height: 20px;
      @include font-smoothing(off);
      @include font_eng;
      i {
        @include fontsize(1.8);
        position: absolute;
        top: 0;
      }
      span {
        @include fontsize(1.2);
        font-weight: normal;
        padding-left: 22px;
        padding-right: 3px;
        color: #000;
        font-weight: bold;
      }
    }
    .number {
      @include fontsize(1.1);
      font-weight: normal;
      padding-left: 8px;
      @include font_eng;
      color: $white_brack;
    }
    .task_lists {
      min-height: 50px;
    }
    .task_list {
      @include border_radius(4);
      margin: 0 0 6px 0;
      line-height: 55px;
      height: 53px;
      background: #fff;
      clear: both;
      /*border: 1px solid #ededf0;
      border-bottom: 1px solid #dcdce0;*/
      border: 1px solid $border_gray;
      box-shadow: none;
      position: relative;
      color: $white_brack;
      .unread {
        @include fontsize(1.1);
        @include border_radius(100px);
        @include font_eng;
        font-weight: bold;
        position: absolute;
        text-align: center;
        color: #fff;
        top: 46%;
        left: -20px;
        margin-top: 0;
        /*z-index: 1000;*/
        content: "";
        width: auto;
        padding: 0 0 0 0;
        line-height: 10px;
        min-width: 10px;
        min-height: 10px;
        background: #2aaef5;
        box-shadow: 0 0 4px rgba(53,175,242,0.6);
      }
      &.ui-sortable-helper {
        -moz-transform: rotate(-1deg);
        -webkit-transform: rotate(-1deg);
        -o-transform: rotate(-1deg);
        -ms-transform: rotate(-1deg);
      }
      &.important {
        border: 1px solid #f3b9a9;
        background: $white_red;
        input[type="checkbox"] {
          & + label {
            /*通常時の見た目*/
            &:before {
              border: 2px solid #f3b9a9;
              background: $white_red;
            }
          }
          /*checked時の見た目*/
          &:checked + label {
            &::before {
              background: #b3312d;
              border: 2px solid #b3312d;
            }
          }
        }
      }
      &.finished {
        background: #EEE;
      }
      &.made {
        height: auto;
        min-height: 53px;
        .task_input {
          height: 35px;
          margin-bottom: -18px;
        }
        input[type="textarea"] {
          width: 90%;
          border: none;
          height: 35px;
          overflow: hidden;
          outline: none;
          padding: 20px 0 0 0;
          line-height: 1.5;
          font-weight: normal;
          /*resize: vertical;*/
          color: #000;
          &:focus {
            outline: none;
          }
        }
        .task_add_member {
          @include border_radius();
          right: 143px;
          top: -190px;
          input {
            @include border_radius();
            @include fontsize(1.3);
            width: 220px;
            margin: 10px 15px;
            padding: 5px;
            border: 1px solid $border_gray;
          }
          ul {
            li {
              position: relative;
              .user_image {
               position: static;
               display: inline-block;
               padding: 0 10px 0 0;
              }
              .noimage {
                position: static;
                display: inline-block;
                margin-right: 10px;
              }
            }
          }
        }
        .task_add_time {
          right: 145px;
          top: -210px;
          .task_add_time_footer {
            .btn_add_task {
              bottom: 0;
            }
          }
        }
        .task_button {
          display: none;
          margin-top: 70px;
        }
        .task_button_balloon{
          position: relative;
          &:hover {
            cursor: pointer;
            .balloon_box {
              display: block;
              top: 10px;
              left: 50%;
              margin: -50px;
            }
          }
        }
      }
      i {
       @include fontsize(2.0);
      }
      .btn_add_task {
        @include border_radius(4px);
        position: absolute;
        right: 11px;
        bottom: 11px;
        line-height: 37px;
        height: 35px;
        @include font-smoothing(off);
        width: 100px;
        color: #fff;
        font-weight: normal;
        background: $torio_green;
        @include fontsize(1.2);
        &:hover {
          @include opacity(0.8);
        }
      }
      .time_create {
        position: absolute;
        right: 128px;
        bottom: 16px;
        &.configured {
          @include border_radius();
          @include fontsize(1.1);
          @include font_eng;
          color: $brack;
          border: 1px solid $border_gray;
          background: $white_gray;
          height: 35px;
          line-height: 33px;
          vertical-align: top;
          right: 120px;
          bottom: 11px;
          padding: 0 10px 0 32px;
          i {
            position: absolute;
            top: 5px;
            left: 5px;
            color: #bbb;
          }
          input {
            width: 60px;
            line-height: 35px;
            height: 35px;
            vertical-align: middle;
            padding: 0;
          }
        }
        .icon-access-time{
          @include fontsize(2.2);
          cursor: pointer;
        }
      }
      .task_member {
        @extend .time_create;
        right: 163px;
        line-height: 30px;
        cursor: pointer;
        select {
          @include opacity(0);
          position: absolute;
          bottom:0;
          right: 0;
          font-weight: normal;
          @include fontsize(1.2);
        }
        &:hover {
          cursor: pointer;
          .balloon_box {
            display: block;
            top: 10px;
            left: 50%;
            margin: -50px;
          }
        }
        &.configured {
          @include clearfix;
          line-height: 33px;
          right: 233px;
          padding: 0 10px 0 32px;
          span {
            padding: 0;
          }
          select {
            @include opacity(1);
            position: relative;
            z-index: 100;
            height: 35px;
            &:focus {
              outline: none;
            }
          }
          .noimage {
            width: 20px;
            height: 20px;
            line-height: 20px;
            padding: 0;
            display: block;
            top: 7px;
            left: 7px;
          }
          .user_image {
            top: 7px;
            left: 7px;
            img {
              width: 20px;
              height: 20px;
            }
          }
        }
        .icon-person-plus{
          @include fontsize(2.2);
          cursor: pointer;
        }
        .icon-person-plus-outline{
          @include fontsize(2.2);
          cursor: pointer;
        }
      }
      .task_title {
        color: #000;
        width: 70%;
        @include fontsize(1.4);
        font-weight: normal;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      .user_image {
        position: absolute;
        top: 13px;
        right: 15px;
        img {
          height: 25px;
          width: 25px;
        }
      }
      .noimage {
        @include fontsize(1.0);
        position: absolute;
        top: 12px;
        right: 15px;
        width: 25px;
        height: 25px;
        line-height: 25px;
        text-align: center;
        padding: 0;
      }
      .task_icon_box {
        position: absolute;
        right: 15px;
        top: -1px;
        p {
          display: inline-block;
          position: relative;
          margin-left: 10px;
        }
        .time {
          padding-left: 23px;
          font-weight: normal;
          @include fontsize(1.2);
          color: #bbb;
          @include font-smoothing(off);
          @include font_eng;
          i {
            position: absolute;
            top: 17px;
            left: 0;
          }
          &.caution {
            color: #b3312d;
          }
        }
        .comment {
          padding-left: 20px;
          font-weight: normal;
          @include fontsize(1.2);
          color: #bbb;
          @include font-smoothing(off);
          @include font_eng;
          i {
            position: absolute;
            top: 17px;
            left: 0;
          }
        }
        .user_image {
          position: static;
          margin-top: 12px;
          display: block;
          img {
            height: 30px;
            width: 30px;
          }
        }
        .noimage {
          @include fontsize(1.0);
          margin-top: 12px;
          position: static;
          width: 30px;
          height: 30px;
          line-height: 30px;
          text-align: center;
          padding: 0;
        }
      }
    }
  }
  .dd {
    @include fontsize(1.3);
    position: relative;
    display: block;
    margin-bottom: 30px;
    padding: 0;
    list-style: none;
    line-height: 20px;
    width: 100%;
    .dd-list {
      display: block;
      position: relative;
      margin: 0;
      padding: 0;
      list-style: none;
      .dd-item {
        margin-bottom: 5px;
      }
    }
    .dd-collapsed .dd-list {
      display: none;
    }
  }
  .task_title_edit {
    line-height: 50px;
    width: 80%;
  }
}

/*---------------------------------------------------------------------------------------
 Callender
---------------------------------------------------------------------------------------*/
.task_add_time{
  &.popover {
    @include border_radius(5px);
    display: none;
    width: 235px;
    position: absolute;
    z-index: 9999;
    background: #fff;
    /*box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);*/
    border: 1px solid #c4c9cc;
    border-bottom-color: #c4c9cc;
    box-shadow: 0 1px 2px rgba(0,0,0,.15);
    line-height: 1.42857143;
    text-align: left;
    white-space: normal;
    @include opacity(1);
    padding: 10px 0;
    z-index: 110;
  }
}

.limit_add_time{
  &.popover {
    @include border_radius(5px);
    display: none;
    width: 235px;
    position: absolute;
    z-index: 9999;
    background: #fff;
    /*box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);*/
    border: 1px solid #c4c9cc;
    border-bottom-color: #c4c9cc;
    box-shadow: 0 1px 2px rgba(0,0,0,.15);
    line-height: 1.42857143;
    text-align: left;
    white-space: normal;
    @include opacity(1);
    padding: 10px 0;
    z-index: 110;
  }
}

.calendar {
  text-align: center;
  width: 235px;
  @include font_eng;
  input {
    @include border_radius();
    @include fontsize(1.2);
    width: 200px;
    margin: 10px 14px 5px 14px;
    padding: 6px;
    border: 1px solid $border_dark_gray;
  }
  .ui-datepicker {
    margin: 0 auto 10px auto;
    width: 220px;
    th {
      @include fontsize(1.2);
      span {
        @include fontsize(1.2);
        padding: 0;
      }
    }
    td {
      &.ui-datepicker-today {
        a {
          background: $green !important;
          color: #fff;
        }
      }
    }
    a {
      color: $brack;
    }
  }
  .ui-state-hover {
    &:hover {
      background: $white_gray;
    }
  }
  .ui-datepicker-inline {
    position: relative;
    .ui-datepicker-calendar {
      thead {
        font-weight: normal;
        tr{
          th{
            font-weight: normal !important;
            min-width: 28px;
          }
        }
      }
      tbody {
        tr {
          &:first-child {
            span {
              padding-top: 0px;
            }
          }
          th,td{
            min-width: 28px;
            @include fontsize(1.2);
            font-weight: normal !important;
            padding-top: 6px;
            @include font-smoothing(off);
          }
        }
      }
    }
    .ui-widget-header {
      background: none;
      border: none;
      color: $brack;
      .ui-state-hover {
        border: none;
        background: none;
      }
      .ui-icon {
        background: none;
        text-indent: 0;
        overflow: visible;
        &.ui-icon-circle-triangle-e {
          &:before {
            @include fontsize(2.6);
            font-family: 'torio_icon';
            content: "\e62e";
            position: absolute;
            right: 5px !important;
            top: -17px !important;
            color: $white_brack;
          }
          &:hover {
            cursor: pointer;
            &:before {
              right: -9px;
              top: -16px;
              color: $white_brack;
            }
          }
        }
        &.ui-icon-circle-triangle-w {
          &:before {
            @include fontsize(2.6);
            position: absolute;
            left: -14px !important;
            top: -17px !important;
            font-family: 'torio_icon';
            content: "\e62d";
            color: $white_brack;
          }
          &:hover {
            cursor: pointer;
            &:before {
              left: -23px;
              top: -16px;
              color: $white_brack;
            }
          }
        }
      }
      a {
        display: block;
        color: $brack;
        &.ui-datepicker-prev {
          span {
            margin: 0;
          }
        }
        &.ui-datepicker-prev-hover {
          span {
            margin: 0;
          }
        }
        &.ui-datepicker-next {
          span {
            margin: 0;
          }
        }
        &.ui-datepicker-next-hover {
          span {
            margin: 0;
          }
        }
      }
      .ui-datepicker-title {
        font-weight: bold;
        span {
          @include fontsize(1.2);
          padding: 0 ;
          font-weight: bold;
        }
      }
    }
    .ui-datepicker-calendar {
      a {
        &.ui-state-active {
          background: $white_green;
        }
        &.ui-state-hover {
          &:hover {
            background: $white_green;
            border: none;
          }
        }
      }
    }
  }
  .ui-datepicker {
    td {
      a {
        text-align: center;
      }
    }
  }
  .ui-widget-content {
    background: none;
    border: none;
  }
  .ui-datepicker-week-end,.ui-datepicker-unselectable,.ui-state-disabled {
    span {
      @include fontsize(1.2);
      text-align: center;
      padding: 0;
    }
  }
  .ui-state-default,.ui-state-highlight {
      border: none;
    }
  .ui-state-default,.ui-widget-content,.ui-widget-header {
    .ui-state-default {
      border: none;
      background: none;
      font-weight: normal;
      color: $brack;
    }
  }
  .ui-state-default {
    border: none;
    background: none;
    font-weight: bold;
    color: $brack;
  }
}

.select_box {
  position: relative;
  select {
    width: 205px;
    margin: -4px 15px 16px 15px;
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid $border_dark_gray;
    padding: 6px 10px;
    z-index: 100;
    @include fontsize(1.2);
    &:focus {
      outline: none;
    }
  }
  &:after {
    @include fontsize(2.6);
    position: absolute;
    right: 18px;
    top: -6px;
    font-family: 'torio_icon';
    content: "\e666";
    color: $white_brack;
    z-index: 10;
  }
}

.btn_add_task_create {
  @include border_radius(3px);
  @include fontsize(1.2);
  display: none;
  position: absolute;
  top: 8px;
  right: 14px;
  width: 100px;
  height: 30px;
  line-height: 30px;
  color: #fff;
  font-weight: normal;
  background: $torio_green;
  &:hover {
    @include opacity(0.8);
  }
}

.task_add_time_footer {
  position: relative;
  border-top: 1px solid $border_gray;
  height: 47px;
  .btn_cancel {
    position: absolute;
    right: 130px;
    bottom: 6px;
    width: 80px;
    color: $torio_green;
    @include fontsize(1.2);
    &:hover {
      @include opacity(0.7);
    }
  }
  .btn_add_task {
    bottom: 10px;
  }
}

.task_add_requester {
  @include border_radius();
  left: 115px;
  top: 38px;
  input {
    @include border_radius();
    @include fontsize(1.3);
    width: 220px;
    margin: 10px 15px;
    padding: 5px;
    border: 1px solid $border_gray;
  }
  ul {
    li {
      position: relative;
      .user_image {
       position: static;
       display: inline-block;
       padding: 0 10px 0 0;
       img {
         width: 20px;
         height: 20px;
       }
      }
      .noimage {
        @include fontsize(1.0);
        position: static;
        display: inline-block;
        margin-right: 10px;
        height: 20px;
        width: 20px;
        line-height: 20px;
        font-weight: normal;
      }
      .checked {
        &:after {
          color: $white_brack;
        }
      }
    }
  }
}
.task_add_worker {
  @extend .task_add_requester;
  top: 88px;
}
.btn_add_task {
  @include border_radius(4px);
  position: absolute;
  right: 15px;
  bottom: 11px;
  line-height: 37px;
  height: 35px;
  width: 100px;
  color: #fff;
  font-weight: normal;
  background: $torio_green;
  @include fontsize(1.3);
  &:hover {
    @include opacity(0.8);
  }
}
